A practical introduction to Pandas
===================

We have been asked to *analyze an otp dataset*, without much more information. This kind of scenario is more common than you might imagine!

## 1) Quickly examine the files in ~/Data/us_dot/otp. What do they contain, in both technical and functional terms? (Use any tool you want)

In [7]:
path_to_files = '/home/dsc/Data/us_dot/otp/'
! ls -l {path_to_files}

total 167704
-rw-r--r--. 1 dsc dsc 21230105 Nov  8  2015 On_Time_On_Time_Performance_2015_2.zip
-rw-r--r--. 1 dsc dsc 24811186 Nov  8  2015 On_Time_On_Time_Performance_2015_3.zip
-rw-r--r--. 1 dsc dsc 23625261 Nov  8  2015 On_Time_On_Time_Performance_2015_4.zip
-rw-r--r--. 1 dsc dsc 24334057 Nov  8  2015 On_Time_On_Time_Performance_2015_5.zip
-rw-r--r--. 1 dsc dsc 25758350 Nov  8  2015 On_Time_On_Time_Performance_2015_6.zip
-rw-r--r--. 1 dsc dsc 26204213 Nov  8  2015 On_Time_On_Time_Performance_2015_7.zip
-rw-r--r--. 1 dsc dsc 25726054 Nov  8  2015 On_Time_On_Time_Performance_2015_8.zip

For this example, we are going to begin using the shell from within this notebook, with the ! notation:

A ! sign before a line tells the notebook to send that line straight away to the underlying OS. 

\* Note that we can substitute python variables into the shell command. We do that by surrounding the name of the variable with curly braces ({}). That's what we are going to do with the `path_to_files` variable

### Check what the files contain

In [8]:
name_of_files = 'On_Time_On_Time_Performance_2015_'

for i in range(2,8):
    file_zip = path_to_files + name_of_files + str(i) + '.zip'
    ! zipinfo {file_zip}

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_2.zip
Zip file size: 21230105 bytes, number of entries: 2
-rw-r--r--  3.0 unx 192791767 tx defN 15-Apr-16 20:03 On_Time_On_Time_Performance_2015_2.csv
-rw-r--r--  3.0 unx    12054 tx defN 15-Apr-16 20:02 readme.html
2 files, 192803821 bytes uncompressed, 21229729 bytes compressed:  89.0%
Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_3.zip
Zip file size: 24811186 bytes, number of entries: 2
-rw-r--r--  3.0 unx 227016932 tx defN 15-May-10 18:02 On_Time_On_Time_Performance_2015_3.csv
-rw-r--r--  3.0 unx    12054 tx defN 15-May-10 18:01 readme.html
2 files, 227028986 bytes uncompressed, 24810810 bytes compressed:  89.1%
Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_4.zip
Zip file size: 23625261 bytes, number of entries: 2
-rw-r--r--  3.0 unx 218600030 tx defN 15-Jun-12 15:59 On_Time_On_Time_Performance_2015_4.csv
-rw-r--r--  3.0 unx    12054 tx defN 15-Jun-12 15:58 readme.html
2 files, 218612084 bytes uncompressed, 23624885 bytes compressed:  89.2%
Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_5.zip
Zip file size: 24334057 bytes, number of entries: 2
-rw-r--r--  3.0 unx 224003544 tx defN 15-Jun-30 17:08 On_Time_On_Time_Performance_2015_5.csv
-rw-r--r--  3.0 unx    12054 tx defN 15-Jun-30 17:07 readme.html
2 files, 224015598 bytes uncompressed, 24333681 bytes compressed:  89.1%
Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_6.zip
Zip file size: 25758350 bytes, number of entries: 2
-rw-r--r--  3.0 unx 227418780 tx defN 15-Aug-04 21:40 On_Time_On_Time_Performance_2015_6.csv
-rw-r--r--  3.0 unx    12054 tx defN 15-Aug-04 21:40 readme.html
2 files, 227430834 bytes uncompressed, 25757974 bytes compressed:  88.7%
Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_7.zip
Zip file size: 26204213 bytes, number of entries: 2
-rw-r--r--  3.0 unx 235037955 tx defN 15-Sep-09 21:20 On_Time_On_Time_Performance_2015_7.csv
-rw-r--r--  3.0 unx    12054 tx defN 15-Sep-09 21:20 readme.html
2 files, 235050009 bytes uncompressed, 26203837 bytes compressed:  88.9%

Oh, it has a readme! Always good to read it.

### Unzip the readme to the current directory

In [9]:
file_zip = path_to_files + name_of_files + '2' + '.zip'
htm = 'readme.html'
! unzip {file_zip} readme.html

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_2.zip
  inflating: readme.html

In [10]:
ls -l

total 2872
-rw-rw-r-- 1 dsc dsc  141776 Nov 25 09:55 02-loading_and_saving_data.ipynb
-rw-rw-r-- 1 dsc dsc   61204 Nov 25 11:40 03-merge_concatenate_transform.ipynb
-rw-rw-r-- 1 dsc dsc   70786 Nov 25 12:36 04-group_by.ipynb
-rw-rw-r-- 1 dsc dsc 1546558 Nov 17 13:36 05-visualization_introduction.ipynb
-rw-rw-r-- 1 dsc dsc  336341 Nov 30 16:44 06-ejercicios_de_repaso_de_pandas.ipynb
-rw-rw-r-- 1 dsc dsc   53173 Nov 30 17:41 07-intro_to_pandas_practical.ipynb
-rw-rw-r-- 1 dsc dsc   31332 Nov 29 18:25 09-web_apis_and_scraping_101.ipynb
-rw-rw-r-- 1 dsc dsc   49926 Nov 25 09:14 accidentes.xls
drwxrwxr-x 2 dsc dsc    4096 Nov  4 16:45 __pycache__/
-rw-rw-r-- 1 dsc dsc  225020 Nov 29 18:15 python_scipy_np_pandas_01.ipynb
-rw-rw-r-- 1 dsc dsc   74577 Nov 16 23:55 python_session1.ipynb
-rw-rw-r-- 1 dsc dsc   42910 Nov 18 10:39 python_session2.ipynb
-rw-rw-r-- 1 dsc dsc  245689 Nov 24 19:55 python_session3.ipynb
-rw-r--r-- 1 dsc dsc   12054 Apr 16  2015 readme.html
-rw-rw-r-- 1 dsc dsc     103 Nov  4 16:43 some_module.py
-rw-rw-r-- 1 dsc dsc    7943 Nov 25 11:57 tips.csv
-rw-rw-r-- 1 dsc dsc    8849 Nov 25 09:16 Untitled.ipynb

The readme file is html. Luckily, we are working in an html environment. 

### Display the contents of `readme.html` within the notebook
(Hint: check out [IPython.display.IFrame](https://ipython.org/ipython-doc/3/api/generated/IPython.display.html))

In [11]:
import IPython.display as dp

In [12]:
dp.HTML(data = 'readme.html')

In [13]:
!rm readme.html

That's some very good documentation!

### Summary: 

The files within the zip are " quoted csv's. They contain information on timeliness of departures in the US, at the departure level.

In [15]:
! unzip -p /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_2.zip | head

"Year","Quarter","Month","DayofMonth","DayOfWeek","FlightDate","UniqueCarrier","AirlineID","Carrier","TailNum","FlightNum","OriginAirportID","OriginAirportSeqID","OriginCityMarketID","Origin","OriginCityName","OriginState","OriginStateFips","OriginStateName","OriginWac","DestAirportID","DestAirportSeqID","DestCityMarketID","Dest","DestCityName","DestState","DestStateFips","DestStateName","DestWac","CRSDepTime","DepTime","DepDelay","DepDelayMinutes","DepDel15","DepartureDelayGroups","DepTimeBlk","TaxiOut","WheelsOff","WheelsOn","TaxiIn","CRSArrTime","ArrTime","ArrDelay","ArrDelayMinutes","ArrDel15","ArrivalDelayGroups","ArrTimeBlk","Cancelled","CancellationCode","Diverted","CRSElapsedTime","ActualElapsedTime","AirTime","Flights","Distance","DistanceGroup","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay","FirstDepTime","TotalAddGTime","LongestAddGTime","DivAirportLandings","DivReachedDest","DivActualElapsedTime","DivArrDelay","DivDistance","Div1Airport","Div1AirportID","Div1AirportSeqID","Div1WheelsOn","Div1TotalGTime","Div1LongestGTime","Div1WheelsOff","Div1TailNum","Div2Airport","Div2AirportID","Div2AirportSeqID","Div2WheelsOn","Div2TotalGTime","Div2LongestGTime","Div2WheelsOff","Div2TailNum","Div3Airport","Div3AirportID","Div3AirportSeqID","Div3WheelsOn","Div3TotalGTime","Div3LongestGTime","Div3WheelsOff","Div3TailNum","Div4Airport","Div4AirportID","Div4AirportSeqID","Div4WheelsOn","Div4TotalGTime","Div4LongestGTime","Div4WheelsOff","Div4TailNum","Div5Airport","Div5AirportID","Div5AirportSeqID","Div5WheelsOn","Div5TotalGTime","Div5LongestGTime","Div5WheelsOff","Div5TailNum",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N618AS","131",14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,10299,1029904,30299,"ANC","Anchorage, AK","AK","02","Alaska",1,"0940","0959",19.00,19.00,1.00,1,"0900-0959",10.00,"1009","1224",3.00,"1239","1227",-12.00,0.00,0.00,-1,"1200-1259",0.00,"",0.00,239.00,208.00,195.00,1.00,1542.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N778AS","132",11630,1163002,31517,"FAI","Fairbanks, AK","AK","02","Alaska",1,14747,1474703,30559,"SEA","Seattle, WA","WA","53","Washington",93,"1730","1717",-13.00,0.00,0.00,-1,"1700-1759",9.00,"1726","2143",6.00,"2205","2149",-16.00,0.00,0.00,-2,"2200-2259",0.00,"",0.00,215.00,212.00,197.00,1.00,1533.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N586AS","140",10299,1029904,30299,"ANC","Anchorage, AK","AK","02","Alaska",1,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1140","1132",-8.00,0.00,0.00,-1,"1100-1159",13.00,"1145","1557",3.00,"1608","1600",-8.00,0.00,0.00,-1,"1600-1659",0.00,"",0.00,208.00,208.00,192.00,1.00,1542.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N615AS","143",14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,10299,1029904,30299,"ANC","Anchorage, AK","AK","02","Alaska",1,"2210","2201",-9.00,0.00,0.00,-1,"2200-2259",10.00,"2211","0024",4.00,"0103","0028",-35.00,0.00,0.00,-2,"0001-0559",0.00,"",0.00,233.00,207.00,193.00,1.00,1542.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N471AS","149",12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,10299,1029904,30299,"ANC","Anchorage, AK","AK","02","Alaska",1,"1940","1941",1.00,1.00,0.00,0,"1900-1959",13.00,"1954","2343",6.00,"0025","2349",-36.00,0.00,0.00,-2,"0001-0559",0.00,"",0.00,345.00,308.00,289.00,1.00,2345.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N535AS","150",10299,1029904,30299,"ANC","Anchorage, AK","AK","02","Alaska",1,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"2340","2331",-9.00,0.00,0.00,-1,"2300-2359",16.00,"2347","0541",6.00,"0600","0547",-13.00,0.00,0.00,-1,"0600-0659",0.00,"",0.00,320.00,316.00,294.00,1.00,2345.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N764AS","151",10299,1029904,30299,"ANC","Anchorage, AK","AK","02","Alaska",1,13873,1387302,33873,"OME","Nome, AK","AK","02","Alaska",1,"1025","1052",27.00,27.00,1.00,1,"1000-1059",8.00,"1100","1212",7.00,"1159","1219",20.00,20.00,1.00,1,"1100-1159",0.00,"",0.00,94.00,87.00,72.00,1.00,539.00,3,0.00,0.00,0.00,0.00,20.00,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N764AS","152",13873,1387302,33873,"OME","Nome, AK","AK","02","Alaska",1,10299,1029904,30299,"ANC","Anchorage, AK","AK","02","Alaska",1,"1253","1257",4.00,4.00,0.00,0,"1200-1259",8.00,"1305","1427",3.00,"1420","1430",10.00,10.00,0.00,0,"1400-1459",0.00,"",0.00,87.00,93.00,82.00,1.00,539.00,3,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,2,7,6,2015-02-07,"AS",19930,"AS","N768AS","153",13970,1397002,33970,"OTZ","Kotzebue, AK","AK","02","Alaska",1,13873,1387302,33873,"OME","Nome, AK","AK","02","Alaska",1,"1900","1902",2.00,2.00,0.00,0,"1900-1959",13.00,"1915","1947",2.00,"1942","1949",7.00,7.00,0.00,0,"1900-1959",0.00,"",0.00,42.00,47.00,32.00,1.00,183.00,1,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",

Pretty unreadable, so we go for a tool designed specifically for tabular data: **pandas**

### Load some of the data (one of the files) into memory as a pandas dataframe. What functions do you need to use?

Pro tip: there is no need to decompress the whole file.

First, open a connection to one of the files

In [17]:
import zipfile
file = path_to_files + name_of_files + '2.zip'
zip_file = zipfile.ZipFile(file)

zip_file is a connection to the compressed file, the .zip. We can use it to open a connection to one of the files it contains, which will behave like a normal uncompressed file that we had opened with open()

In [19]:
csv, readme = zip_file.filelist
csv

In [20]:
csv_file = zip_file.open(csv.filename)

Now we're ready to load the file into memory as a pandas dataframe. Remember to close the connections to the files!

In [21]:
import pandas as pd

df2 = pd.read_csv(csv_file)

csv_file.close()
zip_file.close()

/home/dsc/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Let's start examining the data: show the beginning of the file. How many records does it contain?

In [23]:
df2.shape

(429191, 110)

## Trimming the data

The table is quite wide, and it seems that there are many columns without much data. Which, exactly, are those? (let's consider empty a column that doesn't contain at least 1000 records, arbitrarily)

In [24]:
df2.head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,2,7,6,2015-02-07,AS,19930,AS,N618AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,2,7,6,2015-02-07,AS,19930,AS,N778AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,2,7,6,2015-02-07,AS,19930,AS,N586AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,2,7,6,2015-02-07,AS,19930,AS,N615AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,2,7,6,2015-02-07,AS,19930,AS,N471AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,2,7,6,2015-02-07,AS,19930,AS,N535AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,2,7,6,2015-02-07,AS,19930,AS,N764AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,2,7,6,2015-02-07,AS,19930,AS,N764AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,2,7,6,2015-02-07,AS,19930,AS,N768AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,2,7,6,2015-02-07,AS,19930,AS,N768AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
import numpy as np

count_nulls = df2.isnull().sum() 
count_nulls[count_nulls>1000]

TailNum                   3594
DepTime                  20059
DepDelay                 20059
DepDelayMinutes          20059
DepDel15                 20059
DepartureDelayGroups     20059
TaxiOut                  20412
WheelsOff                20412
WheelsOn                 20822
TaxiIn                   20822
ArrTime                  20822
ArrDelay                 21528
ArrDelayMinutes          21528
ArrDel15                 21528
ArrivalDelayGroups       21528
CancellationCode        408674
ActualElapsedTime        21528
AirTime                  21528
CarrierDelay            334012
WeatherDelay            334012
NASDelay                334012
SecurityDelay           334012
LateAircraftDelay       334012
FirstDepTime            426173
TotalAddGTime           426173
LongestAddGTime         426173
DivReachedDest          428180
DivActualElapsedTime    428485
DivArrDelay             428485
DivDistance             428180
                         ...
Div2WheelsOn            429177
Div2TotalGTime          429177
Div2LongestGTime        429177
Div2WheelsOff           429190
Div2TailNum             429190
Div3Airport             429191
Div3AirportID           429191
Div3AirportSeqID        429191
Div3WheelsOn            429191
Div3TotalGTime          429191
Div3LongestGTime        429191
Div3WheelsOff           429191
Div3TailNum             429191
Div4Airport             429191
Div4AirportID           429191
Div4AirportSeqID        429191
Div4WheelsOn            429191
Div4TotalGTime          429191
Div4LongestGTime        429191
Div4WheelsOff           429191
Div4TailNum             429191
Div5Airport             429191
Div5AirportID           429191
Div5AirportSeqID        429191
Div5WheelsOn            429191
Div5TotalGTime          429191
Div5LongestGTime        429191
Div5WheelsOff           429191
Div5TailNum             429191
Unnamed: 109            429191
Length: 71, dtype: int64

It seems that the "diverted" fields, after the first, are often empty. No big surprise, since not that many flights must be diverted more than once in a month. Let's drop those columns, since we are not that interested in those, at least for now.

In [45]:
list_to_drop = []
for name in df2.columns:
    if name[0:3] =='Div':
        list_to_drop.append(name)
list_to_drop

['Diverted',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum']

In [48]:
df2 = df2.drop(list_to_drop, axis = 1)

In [49]:
df2.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,Unnamed: 109
0,2015,1,2,7,6,2015-02-07,AS,19930,AS,N618AS,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,2,7,6,2015-02-07,AS,19930,AS,N778AS,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,2,7,6,2015-02-07,AS,19930,AS,N586AS,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,2,7,6,2015-02-07,AS,19930,AS,N615AS,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,2,7,6,2015-02-07,AS,19930,AS,N471AS,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now that we have eliminated some inconvenient data columns, let's have a look at the rest:

Let's loook at how the location data is encoded.

### Select the columns that have 'Origin' in their name

Hint: we are going to use the str attribute of Series and Indexes

In [50]:
columns_w_origin = []
for name in df2.columns:
    if 'Origin' in name:
        columns_w_origin.append(name)
columns_w_origin

['OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac']

Let's now have a look at these. We have been using the .head() method, but that always returns the same values, so it's not that good for getting a feel for the data. Let's start using a better one, that will give us a sample of the data: df.sample()

In [55]:
df2.sample(10)[columns_w_origin]

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
364584,11292,1129202,30325,DEN,"Denver, CO",CO,8,Colorado,82
23286,10781,1078102,30781,BTR,"Baton Rouge, LA",LA,22,Louisiana,72
168890,13495,1349503,33495,MSY,"New Orleans, LA",LA,22,Louisiana,72
181261,10397,1039705,30397,ATL,"Atlanta, GA",GA,13,Georgia,34
291665,12191,1219102,31453,HOU,"Houston, TX",TX,48,Texas,74
45752,10408,1040802,30408,ATW,"Appleton, WI",WI,55,Wisconsin,45
348778,14831,1483103,32457,SJC,"San Jose, CA",CA,6,California,91
408672,12280,1228002,32280,IDA,"Idaho Falls, ID",ID,16,Idaho,83
371774,14869,1486903,34614,SLC,"Salt Lake City, UT",UT,49,Utah,87
299718,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54

#### Exercise: 

Show all airport codes in NY city and Washington DC.

In [57]:
names_cities = df2['OriginCityName'].unique()
for name in names_cities:
    if ('Washington' in name) or ('New York' in name):
        print(name)

Washington, DC
New York, NY

In [70]:
df2[(df2['OriginCityName'] == 'Washington, DC' )| (df2['OriginCityName'] == 'New York, NY')]

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,Unnamed: 109
255,2015,1,2,7,6,2015-02-07,AS,19930,AS,N514AS,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2015,1,2,8,7,2015-02-08,AS,19930,AS,N588AS,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2015,1,2,8,7,2015-02-08,AS,19930,AS,N519AS,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,2015,1,2,8,7,2015-02-08,AS,19930,AS,N568AS,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,2015,1,2,20,5,2015-02-20,DL,19790,DL,N909DE,...,5,36.0,0.0,0.0,0.0,75.0,NaN,NaN,NaN,NaN
484,2015,1,2,20,5,2015-02-20,DL,19790,DL,N944DL,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,2015,1,2,20,5,2015-02-20,DL,19790,DL,N919AT,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,2015,1,2,20,5,2015-02-20,DL,19790,DL,N992DL,...,4,5.0,0.0,0.0,0.0,25.0,NaN,NaN,NaN,NaN
530,2015,1,2,20,5,2015-02-20,DL,19790,DL,N342NB,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560,2015,1,2,20,5,2015-02-20,DL,19790,DL,N913DL,...,4,4.0,0.0,0.0,0.0,43.0,NaN,NaN,NaN,NaN
579,2015,1,2,20,5,2015-02-20,DL,19790,DL,N930DL,...,4,16.0,0.0,0.0,0.0,38.0,NaN,NaN,NaN,NaN
587,2015,1,2,20,5,2015-02-20,DL,19790,DL,N955DN,...,4,0.0,0.0,0.0,0.0,69.0,NaN,NaN,NaN,NaN
627,2015,1,2,20,5,2015-02-20,DL,19790,DL,N962DL,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,2015,1,2,20,5,2015-02-20,DL,19790,DL,N694DL,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,2015,1,2,20,5,2015-02-20,DL,19790,DL,N983DL,...,5,45.0,0.0,0.0,0.0,65.0,NaN,NaN,NaN,NaN
681,2015,1,2,20,5,2015-02-20,DL,19790,DL,N924DN,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
721,2015,1,2,20,5,2015-02-20,DL,19790,DL,N370NB,...,5,6.0,0.0,0.0,0.0,34.0,NaN,NaN,NaN,NaN
726,2015,1,2,20,5,2015-02-20,DL,19790,DL,N386DA,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,2015,1,2,19,4,2015-02-19,DL,19790,DL,N721TW,...,11,86.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
792,2015,1,2,19,4,2015-02-19,DL,19790,DL,N950DN,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,2015,1,2,19,4,2015-02-19,DL,19790,DL,N915DL,...,4,1.0,0.0,0.0,0.0,71.0,NaN,NaN,NaN,NaN
802,2015,1,2,19,4,2015-02-19,DL,19790,DL,N994DL,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
824,2015,1,2,19,4,2015-02-19,DL,19790,DL,N389DA,...,7,22.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
828,2015,1,2,19,4,2015-02-19,DL,19790,DL,N717TW,...,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,2015,1,2,19,4,2015-02-19,DL,19790,DL,N387DA,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,2015,1,2,19,4,2015-02-19,DL,19790,DL,N722TW,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832,2015,1,2,19,4,2015-02-19,DL,19790,DL,N705TW,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
833,2015,1,2,19,4,2015-02-19,DL,19790,DL,N721TW,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
834,2015,1,2,19,4,2015-02-19,DL,19790,DL,N624AG,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
835,2015,1,2,19,4,2015-02-19,DL,19790,DL,N155DL,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427823,2015,1,2,20,5,2015-02-20,US,20355,US,N944UW,...,1,0.0,0.0,0.0,0.0,58.0,NaN,NaN,NaN,NaN
427825,2015,1,2,20,5,2015-02-20,US,20355,US,N961UW,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427826,2015,1,2,20,5,2015-02-20,US,20355,US,N959UW,...,1,0.0,9.0,0.0,0.0,45.0,NaN,NaN,NaN,NaN
427827,2015,1,2,20,5,2015-02-20,US,20355,US,N959UW,...,1,28.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
427828,2015,1,2,20,5,2015-02-20,US,20355,US,N965UW,...,1,0.0,0.0,64.0,0.0,0.0,NaN,NaN,NaN,NaN
427829,2015,1,2,20,5,2015-02-20,US,20355,US,N965UW,...,1,2.0,0.0,0.0,0.0,24.0,NaN,NaN,NaN,NaN
427830,2015,1,2,20,5,2015-02-20,US,20355,US,N946UW,...,1,0.0,25.0,4.0,0.0,4.0,NaN,NaN,NaN,NaN
427832,2015,1,2,20,5,2015-02-20,US,20355,US,N944UW,...,1,0.0,15.0,4.0,0.0,9.0,NaN,NaN,NaN,NaN
427833,2015,1,2,20,5,2015-02-20,US,20355,US,N948UW,...,1,0.0,10.0,21.0,0.0,52.0,NaN,NaN,NaN,NaN
427834,2015,1,2,20,5,2015-02-20,US,20355,US,N948UW,...,1,0.0,1.0,0.0,0.0,63.0,NaN,NaN,NaN,NaN
427836,2015,1,2,20,5,2015-02-20,US,20355,US,N967UW,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427839,2015,1,2,20,5,2015-02-20,US,20355,US,N821AW,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427841,2015,1,2,20,5,2015-02-20,US,20355,US,N961UW,...,1,0.0,0.0,7.0,0.0,91.0,NaN,NaN,NaN,NaN
427842,2015,1,2,20,5,2015-02-20,US,20355,US,N965UW,...,1,0.0,13.0,11.0,0.0,14.0,NaN,NaN,NaN,NaN
427843,2015,1,2,20,5,2015-02-20,US,20355,US,N965UW,...,1,20.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
427845,2015,1,2,20,5,2015-02-20,US,20355,US,N948UW,...,1,0.0,7.0,13.0,0.0,57.0,NaN,NaN,NaN,NaN
427846,2015,1,2,20,5,2015-02-20,US,20355,US,N948UW,...,1,56.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
427848,2015,1,2,20,5,2015-02-20,US,20355,US,N967UW,...,1,40.0,0.0,2.0,0.0,71.0,NaN,NaN,NaN,NaN
427850,2015,1,2,20,5,2015-02-20,US,20355,US,N833AW,...,2,90.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
427852,2015,1,2,20,5,2015-02-20,US,20355,US,N821AW,...,2,15.0,0.0,0.0,0.0,4.0,NaN,NaN,NaN,NaN
427855,2015,1,2,20,5,2015-02-20,US,20355,US,N961UW,...,1,0.0,9.0,28.0,0.0,50.0,NaN,NaN,NaN,NaN
427857,2015,1,2,20,5,2015-02-20,US,20355,US,N965UW,...,1,73.0,0.0,0.0,0.0,0.0,1916.0,14.0,14.0,NaN
427858,2015,1,2,20,5,2015-02-20,US,20355,US,N965UW,...,1,48.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
427890,2015,1,2,21,6,2015-02-21,US,20355,US,N547UW,...,3,0.0,234.0,22.0,0.0,0.0,NaN,NaN,NaN,NaN
427901,2015,1,2,21,6,2015-02-21,US,20355,US,N668AW,...,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427985,2015,1,2,21,6,2015-02-21,US,20355,US,N657AW,...,9,0.0,0.0,15.0,0.0,0.0,NaN,NaN,NaN,NaN
428066,2015,1,2,21,6,2015-02-21,US,20355,US,NaN,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428085,2015,1,2,21,6,2015-02-21,US,20355,US,N649AW,...,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428105,2015,1,2,21,6,2015-02-21,US,20355,US,N673AW,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428131,2015,1,2,21,6,2015-02-21,US,20355,US,N520UW,...,9,0.0,42.0,33.0,0.0,30.0,NaN,NaN,NaN,NaN

So much redundant information!!!!! Let's drop a few of those fields. Remember, 90% of the time spent in Data Science is data cleaning...

### Do the same for the destination columns

In [72]:
columns_w_dest = []
for name in df2.columns:
    if 'Dest' in name:
        columns_w_dest.append(name)
columns_w_dest

['DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac']

### Now, discard all these columns with redundant information. 

The set of columns we want to discard is 

`df.columns[col_contains_dest] + df.columns[col_contains_origin] - columns_of_interest`

We'll also use the opportunity to drop Year, Month, Day and Quarter columns since that is information that is already contained in FlightDate. We'll keep the DayOfWeek, though.

In [73]:
list_to_drop2 = columns_w_origin + columns_w_dest
list_to_drop2

['OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac']

In [74]:
df2 = df2.drop(list_to_drop2, axis = 1)

In [75]:
df2

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,Unnamed: 109
0,2015,1,2,7,6,2015-02-07,AS,19930,AS,N618AS,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,2,7,6,2015-02-07,AS,19930,AS,N778AS,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,2,7,6,2015-02-07,AS,19930,AS,N586AS,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,2,7,6,2015-02-07,AS,19930,AS,N615AS,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,2,7,6,2015-02-07,AS,19930,AS,N471AS,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,2,7,6,2015-02-07,AS,19930,AS,N535AS,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,2,7,6,2015-02-07,AS,19930,AS,N764AS,...,3,0.0,0.0,0.0,0.0,20.0,NaN,NaN,NaN,NaN
7,2015,1,2,7,6,2015-02-07,AS,19930,AS,N764AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,2,7,6,2015-02-07,AS,19930,AS,N768AS,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,2,7,6,2015-02-07,AS,19930,AS,N768AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,2,7,6,2015-02-07,AS,19930,AS,N768AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,1,2,7,6,2015-02-07,AS,19930,AS,N764AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,1,2,7,6,2015-02-07,AS,19930,AS,N764AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015,1,2,7,6,2015-02-07,AS,19930,AS,N791AS,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2015,1,2,7,6,2015-02-07,AS,19930,AS,N403AS,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2015,1,2,7,6,2015-02-07,AS,19930,AS,N535AS,...,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,2,7,6,2015-02-07,AS,19930,AS,N535AS,...,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,1,2,7,6,2015-02-07,AS,19930,AS,N779AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,1,2,7,6,2015-02-07,AS,19930,AS,N779AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2015,1,2,7,6,2015-02-07,AS,19930,AS,N464AS,...,3,0.0,0.0,42.0,0.0,0.0,NaN,NaN,NaN,NaN
20,2015,1,2,7,6,2015-02-07,AS,19930,AS,N464AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2015,1,2,7,6,2015-02-07,AS,19930,AS,N409AS,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,2,7,6,2015-02-07,AS,19930,AS,N760AS,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,2,7,6,2015-02-07,AS,19930,AS,N323AS,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,1,2,7,6,2015-02-07,AS,19930,AS,N518AS,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,2,7,6,2015-02-07,AS,19930,AS,N760AS,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2015,1,2,7,6,2015-02-07,AS,19930,AS,N323AS,...,3,0.0,0.0,38.0,0.0,0.0,NaN,NaN,NaN,NaN
27,2015,1,2,7,6,2015-02-07,AS,19930,AS,N518AS,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2015,1,2,7,6,2015-02-07,AS,19930,AS,N409AS,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2015,1,2,7,6,2015-02-07,AS,19930,AS,N609AS,...,3,12.0,0.0,20.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429161,2015,1,2,18,3,2015-02-18,OO,20304,OO,N122SY,...,4,237.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
429162,2015,1,2,21,6,2015-02-21,OO,20304,OO,N117SY,...,4,48.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
429163,2015,1,2,2,1,2015-02-02,OO,20304,OO,N708SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429164,2015,1,2,4,3,2015-02-04,OO,20304,OO,N744SK,...,4,36.0,0.0,0.0,0.0,9.0,NaN,NaN,NaN,NaN
429165,2015,1,2,21,6,2015-02-21,OO,20304,OO,N751SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429166,2015,1,2,8,7,2015-02-08,OO,20304,OO,N745SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429167,2015,1,2,9,1,2015-02-09,OO,20304,OO,N779SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429168,2015,1,2,10,2,2015-02-10,OO,20304,OO,N774SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429169,2015,1,2,3,2,2015-02-03,OO,20304,OO,N785SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429170,2015,1,2,1,7,2015-02-01,OO,20304,OO,N742SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429171,2015,1,2,5,4,2015-02-05,OO,20304,OO,N745SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429172,2015,1,2,11,3,2015-02-11,OO,20304,OO,N702SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429173,2015,1,2,7,6,2015-02-07,OO,20304,OO,N788SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429174,2015,1,2,6,5,2015-02-06,OO,20304,OO,N705SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429175,2015,1,2,14,6,2015-02-14,OO,20304,OO,N705SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429176,2015,1,2,28,6,2015-02-28,OO,20304,OO,N797SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429177,2015,1,2,12,4,2015-02-12,OO,20304,OO,N705SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429178,2015,1,2,19,4,2015-02-19,OO,20304,OO,N724SK,...,3,3.0,0.0,10.0,0.0,19.0,NaN,NaN,NaN,NaN
429179,2015,1,2,27,5,2015-02-27,OO,20304,OO,N751SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429180,2015,1,2,18,3,2015-02-18,OO,20304,OO,N745SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429181,2015,1,2,26,4,2015-02-26,OO,20304,OO,N745SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429182,2015,1,2,16,1,2015-02-16,OO,20304,OO,N742SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429183,2015,1,2,25,3,2015-02-25,OO,20304,OO,N764SK,...,3,1.0,0.0,3.0,0.0,12.0,NaN,NaN,NaN,NaN
429184,2015,1,2,23,1,2015-02-23,OO,20304,OO,N744SK,...,3,30.0,0.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN
429185,2015,1,2,20,5,2015-02-20,OO,20304,OO,N786SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429186,2015,1,2,13,5,2015-02-13,OO,20304,OO,N786SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429187,2015,1,2,17,2,2015-02-17,OO,20304,OO,N767SK,...,3,0.0,9.0,12.0,0.0,58.0,NaN,NaN,NaN,NaN
429188,2015,1,2,11,3,2015-02-11,OO,20304,OO,N702SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429189,2015,1,2,4,3,2015-02-04,OO,20304,OO,N743SK,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429190,2015,1,2,4,3,2015-02-04,OO,20304,OO,N744SK,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

OK, so we have cleaned up most of the date / location information,  and some of the extra information that was not really useful, in the process reducing the dataframe from 110 columns to 60. Let's look at the really interesting info: delays.

## Fast forward

All of this is getting a little repetitive and boring, so let's just specify the columns we want:

In [80]:
df2.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'UniqueCarrier', 'AirlineID', 'Carrier', 'TailNum', 'FlightNum',
       'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay',
       'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk',
       'Cancelled', 'CancellationCode', 'CRSElapsedTime', 'ActualElapsedTime',
       'AirTime', 'Flights', 'Distance', 'DistanceGroup', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'FirstDepTime', 'TotalAddGTime', 'LongestAddGTime', 'Unnamed: 109'],
      dtype='object')

## Formatting columns and parsing dates and times

Hurray! we have almost cleaned our dataset. Soon we will begin to do some actual work with it.

Pandas interpreted the Deptime column as ints and the FlighDate column as strings. We want to combine them and parse them into a DateTime column, so that we can use them properly as datetimes.

First, 

### Define a function that will parse our int hours into a reasonable format ("HH:MM")

Now, we can use that function to build datetime strings that we will then pass to pd.to_datetime, with a format we will specify. Let's do that

Hint: Check out [pd.to_datetime's documentatoin](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html) for info on the acceptable format.

### Overwrite the 'DepTime' column with its version in the proper format

Hint: Before overwriting your column in the dataframe, make sure that everything works by assigning the modified column to a Series variable.

### Now, create a DepDateTime with the proper type using `pd.to_datetime`

### Inspect the types, see if everything is in order

### Transform the FlightNum column into a column of strings

Because flight numbers are actually names, not numbers: we won't do arithmetic on them. It wouldn't make sense to receive summary statistics on the `FlightNum` column with `.describe()`, for example.

## Examining the data

Finally clean! Let's start to do some preliminary work on the data.

### Find the biggest delays. 

How would you find the 5 maximum delays?

### What was the average delay for this month? Standard deviation and typical value?

Also: a quick look at the correlation between the numerical variables is extremely easy with pandas:

### A little taste of groupby

Very often, we will want to split our data according to a variable, then compute some statistics on the different groups. We will see this in depth next week, but I want to give you a little taste.

What is the plane that has the highest average delay? We'll first group by tail number (the *license plate* of a plane) and then calculate the relevant statistic for each group (group of *departures*)

Oh, but those numbers smell like these planes had only a few, very delayed, departures! how can we count the number of departures *and* calculate the average delay at the same time?

Awesome! now, let's look at the average delay of the planes with some departures (let's say, at least 15)

#### Exercise: 

Show cities by descending number of airports

## Plotting

There are several ways in which we could go about plotting this dataset in order to get acquainted with it.

For example, do the delays have a relationship with the number of departures a plane does?

Pretty impossible to see anything in there. Maybe a different kind of plottting is required:

What is the distribution of delays?

### Another question:

how do the delays stack over the course of the day? We are going to look at it by plotting the distribution of delays for each hour of the day. The very best way to compare distributions side by side is a boxplot, so we'll use that.

We need to provide `plt.boxplot()` with a sequence that contains 24 elements. Each of those will be a sequence containing every individual delay for one hour of the day. We'll need, therefore, to extract hours of the day for each departure and group based on that.

### Everything looks ok! let's plot this thing!