## Plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona

For the arriving airport, you can use the Destination column in the searches file. 

Plot a curve for Málaga, another one for Madrid, and another one for Barcelona, in the same figure.

* Get familiar with data
* Select the columns of interest
* What to do with NaN?

* Make action plan
* Develop the code that works with a sample

* Adjust the code to work with Big data
* Test big data approach on a sample

* Run program with big data

In [6]:
import pandas as pd

In [7]:
path_to_zips = '/home/dsc/Data/challenge/'

In [8]:
!ls -l {path_to_zips}

total 1013848
-rw-rw-r--. 1 dsc dsc 554970628 Jan  4  2016 bookings.csv.bz2
-rw-rw-r--. 1 dsc dsc 483188920 Jan  4  2016 searches.csv.bz2

In [10]:
file_to_use = 'searches.csv.bz2'
!bzcat {path_to_zips + file_to_use} | head

Date^Time^TxnCode^OfficeID^Country^Origin^Destination^RoundTrip^NbSegments^Seg1Departure^Seg1Arrival^Seg1Date^Seg1Carrier^Seg1BookingCode^Seg2Departure^Seg2Arrival^Seg2Date^Seg2Carrier^Seg2BookingCode^Seg3Departure^Seg3Arrival^Seg3Date^Seg3Carrier^Seg3BookingCode^Seg4Departure^Seg4Arrival^Seg4Date^Seg4Carrier^Seg4BookingCode^Seg5Departure^Seg5Arrival^Seg5Date^Seg5Carrier^Seg5BookingCode^Seg6Departure^Seg6Arrival^Seg6Date^Seg6Carrier^Seg6BookingCode^From^IsPublishedForNeg^IsFromInternet^IsFromVista^TerminalID^InternetOffice
2013-01-01^20:25:57^MPT^624d8c3ac0b3a7ca03e3c167e0f48327^DE^TXL^AUH^1^2^TXL^AUH^2013-01-26^D2^^AUH^TXL^2013-02-02^D2^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^FRA
2013-01-01^10:15:33^MPT^b0af35b31588dc4ab06d5cf2986e8e02^MD^ATH^MIL^0^1^ATH^MIL^2013-01-04^^^^^^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^KIV
2013-01-01^18:04:49^MPT^3561a60621de06ab1badc8ca55699ef3^US^ICT^SFO^1^2^ICT^SFO^2013-08-02^^^SFO^ICT^2013-08-09^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^NYC
2013-01-01^17:42:40^FXP^1864e5e8013d9414150e91d26b6a558b^SE^RNB^ARN^0^1^RNB^ARN^2013-01-02^DU^W^^^^^^^^^^^^^^^^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^STO
2013-01-01^17:48:29^MPT^1ec336348f44207d2e0027dc3a68c118^NO^OSL^MAD^1^2^OSL^MAD^2013-03-22^^^MAD^OSL^2013-03-31^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^OSL
2013-01-01^22:00:28^MPT^3561a60621de06ab1badc8ca55699ef3^US^IAH^BLR^1^2^IAH^BLR^2013-02-14^^^BLR^IAH^2013-02-23^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^NYC
2013-01-01^10:47:14^MPT^d327ca6e35cc6732d4709828327ac7c1^DK^CPH^PAR^1^2^CPH^PAR^2013-03-02^^^PAR^CPH^2013-03-07^^^^^^^^^^^^^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^CPH
2013-01-01^23:39:49^MPT^38a3abb0a28e3f00fa79a11f552a5052^FR^PAR^DUB^1^2^PAR^DUB^2013-02-12^^^DUB^PAR^2013-02-17^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^PAR
2013-01-01^17:08:46^MPT^c8daef4f8bf73a61aa2c928705f7b82d^ES^DUS^ACE^1^2^DUS^ACE^2013-03-30^^^ACE^DUS^2013-04-06^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^MAD

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/searches.csv.bz2, output file = (stdout)

In [12]:
df = pd.read_csv(path_to_zips + file_to_use, sep = '^', nrows = 1000)

In [13]:
df.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [14]:
df.columns

Index(['Date', 'Time', 'TxnCode', 'OfficeID', 'Country', 'Origin',
       'Destination', 'RoundTrip', 'NbSegments', 'Seg1Departure',
       'Seg1Arrival', 'Seg1Date', 'Seg1Carrier', 'Seg1BookingCode',
       'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'Seg2Carrier',
       'Seg2BookingCode', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date',
       'Seg3Carrier', 'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival',
       'Seg4Date', 'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure',
       'Seg5Arrival', 'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode',
       'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'Seg6Carrier',
       'Seg6BookingCode', 'From', 'IsPublishedForNeg', 'IsFromInternet',
       'IsFromVista', 'TerminalID', 'InternetOffice'],
      dtype='object')

## Select the columns of interest

In [21]:
df.columns[df.isnull().sum() > 600]

Index(['Seg1Carrier', 'Seg1BookingCode', 'Seg2Carrier', 'Seg2BookingCode',
       'Seg3Departure', 'Seg3Arrival', 'Seg3Date', 'Seg3Carrier',
       'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival', 'Seg4Date',
       'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure', 'Seg5Arrival',
       'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode', 'Seg6Departure',
       'Seg6Arrival', 'Seg6Date', 'Seg6Carrier', 'Seg6BookingCode'],
      dtype='object')

In [22]:
list_to_drop = ['Seg1Carrier', 'Seg1BookingCode', 'Seg2Carrier', 'Seg2BookingCode',
       'Seg3Departure', 'Seg3Arrival', 'Seg3Date', 'Seg3Carrier',
       'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival', 'Seg4Date',
       'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure', 'Seg5Arrival',
       'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode', 'Seg6Departure',
       'Seg6Arrival', 'Seg6Date', 'Seg6Carrier', 'Seg6BookingCode']

In [24]:
df2 = df.drop(list_to_drop, axis = 1)

In [26]:
df2.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg1Date,Seg2Departure,Seg2Arrival,Seg2Date,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,2013-01-26,AUH,TXL,2013-02-02,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,2013-01-04,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,2013-08-02,SFO,ICT,2013-08-09,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,2013-01-02,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,2013-03-22,MAD,OSL,2013-03-31,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [27]:
df = df[['Date', 'Time','Destination']]

In [28]:
df.shape

(1000, 3)

## Make action plan

* Filter Mad, Bcn, Agp
* Create YYYY-MM column
* Group by [destination, YYYY-MM]
* Sum
* Plot the results

### filter out the the searches for MAD, BCN, AGP

Take only the rows having MAD, BCN or AGP as destination

In [35]:
condition = df['Destination'].map(lambda x: x in ['MAD','BCN','AGP'])

filtered =df[condition]
filtered

           Date      Time Destination
4    2013-01-01  17:48:29         MAD
93   2013-01-01  20:15:57         AGP
113  2013-01-01  23:40:53         BCN
147  2013-01-01  15:35:53         AGP
151  2013-01-01  10:46:21         MAD
165  2013-01-01  03:40:25         BCN
177  2013-01-01  11:26:34         BCN
186  2013-01-01  09:46:07         BCN
188  2013-01-01  02:07:17         BCN
208  2013-01-01  15:58:35         BCN
229  2013-01-01  15:18:55         BCN
242  2013-01-01  18:47:50         AGP
253  2013-01-01  06:34:31         BCN
322  2013-01-01  14:52:58         BCN
365  2013-01-01  22:40:55         BCN
375  2013-01-01  09:24:45         MAD
406  2013-01-01  07:03:29         MAD
458  2013-01-01  12:43:44         AGP
481  2013-01-01  04:32:46         BCN
500  2013-01-01  17:47:05         BCN
509  2013-01-01  09:50:42         MAD
541  2013-01-01  20:45:33         BCN
593  2013-01-01  05:28:54         BCN
606  2013-01-01  00:53:22         MAD
618  2013-01-01  19:42:47         BCN
623  2013-01-01  18:15:32         BCN
628  2013-01-01  00:59:07         BCN
633  2013-01-01  15:47:34         BCN
641  2013-01-01  22:24:26         BCN
674  2013-01-01  19:47:16         AGP
688  2013-01-01  22:32:58         MAD
747  2013-01-01  16:56:29         BCN
767  2013-01-01  23:28:23         BCN
780  2013-01-01  23:23:33         BCN
791  2013-01-01  15:24:57         MAD
797  2013-01-01  22:25:39         BCN
798  2013-01-01  00:50:58         MAD
804  2013-01-01  13:00:08         BCN
809  2013-01-01  18:18:56         BCN
835  2013-01-01  11:24:52         AGP
895  2013-01-01  19:00:54         MAD
897  2013-01-01  20:09:58         MAD
904  2013-01-01  02:10:40         AGP
992  2013-01-01  19:12:06         BCN

We need to get the month from the Date column

We cannot use a datetime function on 'date' column as it is string

Options:

* Using string and obtaining yyyy-mm directly from it

* Transforming string to date:      

  * parse_dates=['Date'] - in csv_read function

  * pd.to_datetime  - function

### Option 1) use directly pd.to_datetime()

### Option 2) get PlotDate directly from the string

## group by arr_port search month

Again.....What do we have?

## 4.3 Plotting

## 5) Adjust the code to work with Big data