## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)

Bonus point: Solve this problem using pandas (instead of any other approach)

* Get familiar with data
* Select the columns of interest
* What to do with NaN?

* Make action plan
* Develop the code that works with a sample

* Adjust the code to work with Big data
* Test big data approach on a sample

* Run program with big data

## 1) Get familiar with data

In [1]:
import pandas as pd

In [2]:
path_to_zips = '/home/dsc/Data/challenge/'
path_to_file = path_to_zips+ 'bookings.csv.bz2'

### What if we dont want to read the whole file?

Options:

* prepare the sample

* read_csv with nrows option

In [3]:
df = pd.read_csv(path_to_file, sep = '^' , nrows = 10000)
df.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [4]:
df.shape

(10000, 38)

\* usecols can be used to reduce the table size, but we are going to use a more general approach

## 2) Select the columns of interest

In [5]:
df = df[['arr_port','year','pax']]
df.head()

   arr_port  year  pax
0  LHR       2013   -1
1  CLT       2013    1
2  CLT       2013    1
3  SVO       2013    1
4  SVO       2013    1

## 3) What to do with NaN?

In the sample everything might be ok, but we should prepare for NaN case

In [6]:
import numpy as np

df.dropna()
df.head()

   arr_port  year  pax
0  LHR       2013   -1
1  CLT       2013    1
2  CLT       2013    1
3  SVO       2013    1
4  SVO       2013    1

## 4) Ready to code

What do we have so far?

In [7]:
df = pd.read_csv(path_to_file, sep = '^' , nrows = 10000)
df = df[['arr_port','year','pax']]
df = df.dropna()

## 4) make action plan
1) get only the bookings from 2013

2) group by arr_port

3) sort 

4) get top 10

#### 4.1) Get only the booking from 2013

In [8]:
bookings_2013 = df[df['year'] == 2013]


#### 4.2) group by arr_port

In [9]:
bookings_per_airport = bookings_2013.groupby('arr_port')['pax'].sum()
bookings_per_airport.sort_values(ascending = False).head(10)

arr_port
HKG         112
LGA          95
ORD          94
JFK          92
SFO          91
LAX          91
MCO          90
DCA          82
DEN          79
LHR          76
Name: pax, dtype: int64

## 5) Adjust the code to work with Big data

What do we have so far?

In [10]:
df = pd.read_csv(path_to_file, sep = '^' , nrows = 100000)
df = df[['arr_port','year','pax']]
df = df.dropna()
bookings_2013 = df[df['year'] == 2013]
bookings_per_airport = bookings_2013.groupby('arr_port')['pax'].sum()
bookings_per_airport.sort_values(ascending = False).head(10)

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64

### But we have to read the whole file... and with nrows we are reading ALWAYS the first N rows...


Hint: check out https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking

In [18]:
chunksdf = pd.read_csv(path_to_file, sep = '^' , nrows = 100000, chunksize = 10000)
for chunk in chunksdf:
    print(type(chunk))
    print(chunk.head())

<class 'pandas.core.frame.DataFrame'>
   act_date             source  pos_ctry                          pos_iata  \
0  2013-03-05 00:00:00  1A      DE        a68dd7ae953c8acfb187a1af2dcbe123
1  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
2  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
3  2013-03-26 00:00:00  1A      AU        0f984b3bb6bd06661c95529bbd6193bc
4  2013-03-26 00:00:00  1A      AU        0f984b3bb6bd06661c95529bbd6193bc

                          pos_oid                      rloc            \
0  1a11ae49fcbf545fd2afc1a24d88d2b7  ea65900e72d71f4626378e2ebd298267
1  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
2  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
3  36472c6dbaf7afec9136ac40364e2794  5ecf00fdcbcec761c43dc7285253d0c1
4  36472c6dbaf7afec9136ac40364e2794  5ecf00fdcbcec761c43dc7285253d0c1

   cre_date             duration  distance  dep_port    ...      \
0  2013-02-22 00:00:00      1708         0  ZRH         ...
1  2013-03-26 00:00:00    135270         0  SAL         ...
2  2013-03-26 00:00:00    135270         0  SAL         ...
3  2013-03-26 00:00:00     30885         0  AKL         ...
4  2013-03-26 00:00:00     30885         0  AKL         ...

   route           carrier  bkg_class  cab_class  brd_time             \
0  LHRZRH               VI  T          Y          2013-03-07 08:50:00
1  SALATLCLT            NV  L          Y          2013-04-12 13:04:00
2  CLTATLSAL            NV  U          Y          2013-07-15 07:00:00
3  AKLHKGSVO            XK  G          Y          2013-04-24 23:59:00
4  SVOHKGAKL            XK  G          Y          2013-05-14 20:15:00

   off_time            pax  year month  oid
0  2013-03-07 11:33:37  -1  2013     3  NULL
1  2013-04-12 22:05:40   1  2013     3  NULL
2  2013-07-15 11:34:51   1  2013     3  NULL
3  2013-04-25 16:06:31   1  2013     3  SYDA82546
4  2013-05-16 10:44:50   1  2013     3  SYDA82546

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
10000  2013-03-12 00:00:00  1A      DE
10001  2013-03-13 00:00:00  1A      DE
10002  2013-03-13 00:00:00  1A      DE
10003  2013-03-26 00:00:00  1A      DE
10004  2013-03-07 00:00:00  1V      US

                               pos_iata                         pos_oid    \
10000  30371685b6bbf50642bc61117b5bcd1e  765e7d5c49dbeef4e7328e2ccdb1a264
10001  30371685b6bbf50642bc61117b5bcd1e  765e7d5c49dbeef4e7328e2ccdb1a264
10002  30371685b6bbf50642bc61117b5bcd1e  765e7d5c49dbeef4e7328e2ccdb1a264
10003  30371685b6bbf50642bc61117b5bcd1e  765e7d5c49dbeef4e7328e2ccdb1a264
10004  377d925e7036aeb33a26a71e1253f2a3  5b1ad497c09261225bae759bcfc27ef2

                         rloc            cre_date             duration  \
10000  a5fc7cb94405363668f0d9b2124ec248  2013-03-11 00:00:00     18179
10001  a5fc7cb94405363668f0d9b2124ec248  2013-03-11 00:00:00     18179
10002  a5fc7cb94405363668f0d9b2124ec248  2013-03-11 00:00:00     18219
10003  a5fc7cb94405363668f0d9b2124ec248  2013-03-11 00:00:00     18219
10004  f6c13c9d58acc38234a45daa3f13fdeb  2013-03-07 00:00:00      5071

       distance  dep_port    ...     route           carrier  bkg_class  \
10000         0  FRA         ...        REPSGNFRA         GX  Z
10001         0  FRA         ...        REPSGNFRA         GX  Z
10002         0  FRA         ...        REPSGNFRA         GX  Z
10003         0  FRA         ...        SGNREP            GX  B
10004         0  PGV         ...        MCICLTPGV         FD  G

       cab_class  brd_time             off_time            pax  year month  \
10000  C          2013-12-04 18:20:00  2013-12-05 04:54:13   2  2013     3
10001  C          2013-12-04 18:20:00  2013-12-05 04:54:13  -2  2013     3
10002  C          2013-12-04 18:20:00  2013-12-05 05:34:13   2  2013     3
10003  Y          2013-12-01 11:55:00  2013-12-01 13:12:47  -2  2013     3
10004  Y          2013-04-25 15:30:00  2013-04-25 23:30:52   1  2013     3

       oid
10000  NULL
10001  NULL
10002  NULL
10003  NULL
10004  NULL

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
20000  2013-03-18 00:00:00  1V      US
20001  2013-03-21 00:00:00  1V      US
20002  2013-03-21 00:00:00  1V      US
20003  2013-03-21 00:00:00  1V      US
20004  2013-03-14 00:00:00  1V      US

                               pos_iata                         pos_oid    \
20000  6c3cbba8d96d2d6a4f104a78e73edffd  09f9e4138079760b099d2e2e650c4c35
20001  6c3cbba8d96d2d6a4f104a78e73edffd  09f9e4138079760b099d2e2e650c4c35
20002  6c3cbba8d96d2d6a4f104a78e73edffd  09f9e4138079760b099d2e2e650c4c35
20003  6c3cbba8d96d2d6a4f104a78e73edffd  09f9e4138079760b099d2e2e650c4c35
20004  7575857dc202854e66fec3f1e7f15150  292680d05b8e7e78645aaf1f7b1ed5ff

                         rloc            cre_date             duration  \
20000  e509e16ded66eaed922ae188601c665b  2013-03-18 00:00:00      4308
20001  e509e16ded66eaed922ae188601c665b  2013-03-18 00:00:00      4308
20002  e509e16ded66eaed922ae188601c665b  2013-03-18 00:00:00      4308
20003  e509e16ded66eaed922ae188601c665b  2013-03-18 00:00:00      4308
20004  8e8aac821d8628a519dd99f9ea022944  2013-03-14 00:00:00      5068

       distance  dep_port    ...      route           carrier  bkg_class  \
20000         0  ORD         ...      RDUORD               FK  U
20001         0  ORD         ...      ORDSNA               FK  L
20002         0  ORD         ...      SNAIAHRDU            FK  H
20003         0  ORD         ...      RDUORD               FK  U
20004         0  DCA         ...      DCADFW               KK  Q

       cab_class  brd_time             off_time            pax  year month  \
20000  Y          2013-04-04 16:47:00  2013-04-04 17:48:18   1  2013     3
20001  Y          2013-04-01 18:00:00  2013-04-01 20:03:32  -1  2013     3
20002  Y          2013-04-02 13:01:00  2013-04-02 23:51:11  -1  2013     3
20003  Y          2013-04-04 16:47:00  2013-04-04 17:48:18  -1  2013     3
20004  Y          2013-05-07 08:45:00  2013-05-07 10:48:05   1  2013     3

       oid
20000  NULL
20001  NULL
20002  NULL
20003  NULL
20004  NULL

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
30000  2013-01-03 00:00:00  1G      PK
30001  2013-01-03 00:00:00  1G      PK
30002  2013-01-04 00:00:00  1G      PK
30003  2013-01-04 00:00:00  1G      PK
30004  2013-01-05 00:00:00  1G      PK

                               pos_iata                         pos_oid    \
30000  fdb5a7fb4af50821da23dd299320928d  b44c38d326d55b8bdc335cfac7abfdcf
30001  fdb5a7fb4af50821da23dd299320928d  b44c38d326d55b8bdc335cfac7abfdcf
30002  fdb5a7fb4af50821da23dd299320928d  b44c38d326d55b8bdc335cfac7abfdcf
30003  fdb5a7fb4af50821da23dd299320928d  b44c38d326d55b8bdc335cfac7abfdcf
30004  fdb5a7fb4af50821da23dd299320928d  b44c38d326d55b8bdc335cfac7abfdcf

                         rloc            cre_date             duration  \
30000  10e0132ddbae8399069b70dc1c3ed0c7  2013-01-03 00:00:00     22610
30001  10e0132ddbae8399069b70dc1c3ed0c7  2013-01-03 00:00:00     22610
30002  10e0132ddbae8399069b70dc1c3ed0c7  2013-01-03 00:00:00     22610
30003  10e0132ddbae8399069b70dc1c3ed0c7  2013-01-03 00:00:00     21170
30004  10e0132ddbae8399069b70dc1c3ed0c7  2013-01-03 00:00:00     21170

       distance  dep_port    ...      route           carrier  bkg_class  \
30000         0  ISB         ...      ISBJED               DG  T
30001         0  ISB         ...      JEDISB               DG  V
30002         0  ISB         ...      ISBJED               DG  T
30003         0  ISB         ...      ISBJED               DG  Q
30004         0  ISB         ...      ISBJED               DG  Q

       cab_class  brd_time             off_time            pax  year month  \
30000  Y          2013-03-30 18:00:00  2013-03-30 21:00:19   7  2013     1
30001  Y          2013-04-15 03:50:00  2013-04-15 10:50:19   7  2013     1
30002  Y          2013-03-30 18:00:00  2013-03-30 21:00:19  -7  2013     1
30003  Y          2013-03-31 18:00:00  2013-03-31 21:00:19   7  2013     1
30004  Y          2013-03-31 18:00:00  2013-03-31 21:00:19  -7  2013     1

       oid
30000  NULL
30001  NULL
30002  NULL
30003  NULL
30004  NULL

[5 rows x 38 columns]

<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
40000  2013-03-14 00:00:00  1P      GB
40001  2013-03-02 00:00:00  1P      GB
40002  2013-03-18 00:00:00  1V      JP
40003  2013-03-18 00:00:00  1V      JP
40004  2013-03-19 00:00:00  1V      JP

                               pos_iata                         pos_oid    \
40000  5350db3ed746676f66afbe1710b6e7a5  f07b266ed6f91c2094dded9b82934bee
40001  08b43d85d0ab8b94ce43f702cc386fc7  ce21de9892c87845b094d40776d8035b
40002  c31e58452e6930ff3f115d370cb3209c  aecc4742b4cdd95f0455c1265cb671bd
40003  c31e58452e6930ff3f115d370cb3209c  aecc4742b4cdd95f0455c1265cb671bd
40004  c31e58452e6930ff3f115d370cb3209c  aecc4742b4cdd95f0455c1265cb671bd

                         rloc            cre_date             duration  \
40000  242c7131e1cc413cac1303c97680a64f  2013-03-02 00:00:00       804
40001  75d29f6a57f7abf93345466eb151a47b  2013-03-02 00:00:00     20012
40002  37ea92066afe7c4bb7f2f6a257da7e87  2013-03-18 00:00:00      4181
40003  37ea92066afe7c4bb7f2f6a257da7e87  2013-03-18 00:00:00      4181
40004  37ea92066afe7c4bb7f2f6a257da7e87  2013-03-18 00:00:00      4181

       distance  dep_port    ...     route           carrier  bkg_class  \
40000      8230  LHR         ...        LHRDXBMAA         OU  M
40001         0  MAN         ...        MANATLOAJ         UV  R
40002         0  NRT         ...        NRTLAXPHX         KK  L
40003         0  NRT         ...        PHXDFWNRT         KK  L
40004         0  NRT         ...        NRTLAXPHX         KK  L

       cab_class  brd_time             off_time            pax  year month  \
40000  Y          2013-03-16 13:35:00  2013-03-17 08:29:58  -1  2013     3
40001  Y          2013-03-08 10:10:00  2013-03-08 17:53:10   1  2013     3
40002  Y          2013-05-15 15:55:00  2013-05-15 13:49:55   1  2013     3
40003  Y          2013-05-17 05:35:00  2013-05-18 13:36:10   1  2013     3
40004  Y          2013-05-15 15:55:00  2013-05-15 13:49:55  -1  2013     3

       oid
40000  NULL
40001  NULL
40002  NULL
40003  NULL
40004  NULL

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
50000  2013-01-03 00:00:00  1A      US
50001  2013-01-03 00:00:00  1A      US
50002  2013-01-03 00:00:00  1A      US
50003  2013-01-04 00:00:00  1A      US
50004  2013-01-04 00:00:00  1A      US

                               pos_iata                         pos_oid    \
50000  9a5bced2e9921f40349e3ff35afac4a9  4ace0c4a8a1420a4b35530c03ef9ee01
50001  9a5bced2e9921f40349e3ff35afac4a9  4ace0c4a8a1420a4b35530c03ef9ee01
50002  9a5bced2e9921f40349e3ff35afac4a9  4ace0c4a8a1420a4b35530c03ef9ee01
50003  9a5bced2e9921f40349e3ff35afac4a9  4ace0c4a8a1420a4b35530c03ef9ee01
50004  9a5bced2e9921f40349e3ff35afac4a9  4ace0c4a8a1420a4b35530c03ef9ee01

                         rloc            cre_date             duration  \
50000  4ebffaad36bb3a2d1c711e48ce42859d  2013-01-03 00:00:00     11778
50001  4ebffaad36bb3a2d1c711e48ce42859d  2013-01-03 00:00:00     11778
50002  4ebffaad36bb3a2d1c711e48ce42859d  2013-01-03 00:00:00     11778
50003  4ebffaad36bb3a2d1c711e48ce42859d  2013-01-03 00:00:00     11778
50004  4ebffaad36bb3a2d1c711e48ce42859d  2013-01-03 00:00:00     11778

       distance  dep_port    ...      route           carrier  bkg_class  \
50000         0  DEN         ...      DENORDFRAMLA         FK  T
50001         0  DEN         ...      MLAFCOCAI            WD  K
50002         0  DEN         ...      CAIFRADEN            VR  Q
50003         0  DEN         ...      DENORDFRAMLA         FK  T
50004         0  DEN         ...      MLAFCOCAI            WD  K

       cab_class  brd_time             off_time            pax  year month  \
50000  Y          2013-01-27 08:35:00  2013-01-28 12:29:14   1  2013     1
50001  Y          2013-01-30 08:30:00  2013-01-30 17:59:37   1  2013     1
50002  Y          2013-02-04 03:15:00  2013-02-04 12:53:31   1  2013     1
50003  Y          2013-01-27 08:35:00  2013-01-28 12:29:14  -1  2013     1
50004  Y          2013-01-30 08:30:00  2013-01-30 17:59:37  -1  2013     1

       oid
50000  CAK1S210E
50001  CAK1S210E
50002  CAK1S210E
50003  CAK1S210E
50004  CAK1S210E

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
60000  2013-01-15 00:00:00  1S      US
60001  2013-01-05 00:00:00  1S      US
60002  2013-01-05 00:00:00  1S      US
60003  2013-01-07 00:00:00  1S      US
60004  2013-01-07 00:00:00  1S      US

                               pos_iata                         pos_oid    \
60000  45a74568a54f4f0157ea7326a85c7615  679dc08840fc876c4ed9e869c949f379
60001  176fee9f5eb351d086332dc940716c5f  db6ca74b2e781974654cbae18d912c21
60002  176fee9f5eb351d086332dc940716c5f  db6ca74b2e781974654cbae18d912c21
60003  176fee9f5eb351d086332dc940716c5f  db6ca74b2e781974654cbae18d912c21
60004  176fee9f5eb351d086332dc940716c5f  db6ca74b2e781974654cbae18d912c21

                         rloc            cre_date             duration  \
60000  0b0a68a000f52f53e151704fa54420bb  2013-01-15 00:00:00     11056
60001  15e375eb54b6881f9678b56d85a478c7  2012-12-18 00:00:00     93384
60002  15e375eb54b6881f9678b56d85a478c7  2012-12-18 00:00:00     93384
60003  15e375eb54b6881f9678b56d85a478c7  2012-12-18 00:00:00     93384
60004  15e375eb54b6881f9678b56d85a478c7  2012-12-18 00:00:00     93384

       distance  dep_port    ...      route           carrier  bkg_class  \
60000         0  SEA         ...      CHSDFWSEA            KK  Q
60001         0  JFK         ...      JFKCAI               WD  K
60002         0  JFK         ...      JFKCAI               WD  S
60003         0  JFK         ...      JFKCAI               WD  S
60004         0  JFK         ...      JFKCAI               WD  K

       cab_class  brd_time             off_time            pax  year month  \
60000  Y          2013-01-31 18:15:00  2013-01-31 23:51:13   1  2013     1
60001  Y          2013-06-08 18:30:00  2013-06-09 11:54:03  -1  2013     1
60002  Y          2013-06-08 18:30:00  2013-06-09 11:54:03   1  2013     1
60003  Y          2013-06-08 18:30:00  2013-06-09 11:54:03  -1  2013     1
60004  Y          2013-06-08 18:30:00  2013-06-09 11:54:03   1  2013     1

       oid
60000  NULL
60001  NULL
60002  NULL
60003  NULL
60004  NULL

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
70000  2013-01-22 00:00:00  1S      BR
70001  2013-01-08 00:00:00  1S      IL
70002  2013-01-14 00:00:00  1S      IL
70003  2013-01-09 00:00:00  1S      OM
70004  2013-01-02 00:00:00  1S      IT

                               pos_iata                         pos_oid    \
70000  2fb50b68092f30d41a14b81bbd3cfba7  c32766e9db308acb307f8dbba1f89504
70001  434ce427f4e4ff4f41b16a105fca61e3  7c9e6ccd2126ac064e3e5f128c4811ba
70002  434ce427f4e4ff4f41b16a105fca61e3  7c9e6ccd2126ac064e3e5f128c4811ba
70003  83ce708f2c2bf59f583a555d04d269ad  4eb5251ca89b9c91fa275a7a3f2629ef
70004  9222ab44126311c65b4965519830863d  fc9b98b18e47da730cf62eb7efdb77ac

                         rloc            cre_date             duration  \
70000  72f835e15838020ec0e5536632c63521  2012-11-10 00:00:00      1283
70001  42a53a61ae9978de332bd1eef9bd407f  2013-01-08 00:00:00        67
70002  42a53a61ae9978de332bd1eef9bd407f  2013-01-08 00:00:00        67
70003  1468fb69965ab1d21b89c2ca1046a03d  2013-01-09 00:00:00       212
70004  fb103633565fe8517a41ff36e8ad969e  2012-12-31 00:00:00     62236

       distance  dep_port    ...      route           carrier  bkg_class  \
70000      5567  MIA         ...      MIAATLGRUFOR         NV  N
70001       272  TLV         ...      TLVETH               VJ  U
70002       272  TLV         ...      TLVETH               VJ  U
70003      2326  MCT         ...      MCTCCJ               HJ  L
70004         0  NCE         ...      NCELISREC            EA  K

       cab_class  brd_time             off_time            pax  year month  \
70000  Y          2013-04-16 17:45:00  2013-04-17 16:08:30   1  2013     1
70001  Y          2013-03-04 11:25:00  2013-03-04 12:32:13   1  2013     1
70002  Y          2013-03-04 11:25:00  2013-03-04 12:32:13  -1  2013     1
70003  Y          2013-01-11 09:30:00  2013-01-11 14:32:09   1  2013     1
70004  Y          2013-02-10 11:55:00  2013-02-10 21:11:11  -2  2013     1

       oid
70000  NULL
70001  NULL
70002  NULL
70003  NULL
70004  NULL

[5 rows x 38 columns]

<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
80000  2013-03-25 00:00:00  1G      IT
80001  2013-03-25 00:00:00  1G      IT
80002  2013-03-25 00:00:00  1G      ZA
80003  2013-03-25 00:00:00  1G      ZA
80004  2013-03-27 00:00:00  1G      ZA

                               pos_iata                         pos_oid    \
80000  e9e3789bfb59e9104dd4ed380e3c9ab4  a9246cc5e9290c95be28e3e3ca485ab1
80001  e9e3789bfb59e9104dd4ed380e3c9ab4  a9246cc5e9290c95be28e3e3ca485ab1
80002  ed290e603621379416b08bcf152989db  2008b3fb12d8be10b49538617a241a1b
80003  ed290e603621379416b08bcf152989db  2008b3fb12d8be10b49538617a241a1b
80004  ed290e603621379416b08bcf152989db  2008b3fb12d8be10b49538617a241a1b

                         rloc            cre_date             duration  \
80000  ebf7392ddb51487937b8873f4524f247  2013-03-20 00:00:00      6438
80001  ebf7392ddb51487937b8873f4524f247  2013-03-20 00:00:00      6438
80002  9b6534bef580bc2c249305d362604b5c  2013-03-25 00:00:00     15241
80003  9b6534bef580bc2c249305d362604b5c  2013-03-25 00:00:00     15241
80004  9b6534bef580bc2c249305d362604b5c  2013-03-25 00:00:00     15241

       distance  dep_port    ...      route           carrier  bkg_class  \
80000         0  FCO         ...      FCOVIE               KK  X
80001         0  FCO         ...      VIEFCO               KK  M
80002         0  JNB         ...      JNBFRAOPO            VR  Y
80003         0  JNB         ...      OPOFRAJNB            VR  E
80004         0  JNB         ...      JNBFRAOPO            VR  Y

       cab_class  brd_time             off_time            pax  year month  \
80000  Y          2013-04-22 09:00:00  2013-04-22 10:43:01   2  2013     3
80001  Y          2013-04-26 18:35:00  2013-04-26 20:18:01   2  2013     3
80002  Y          2013-04-12 19:05:00  2013-04-13 10:59:33   1  2013     3
80003  Y          2013-04-22 16:15:00  2013-04-23 09:06:06   1  2013     3
80004  Y          2013-04-12 19:05:00  2013-04-13 10:59:33  -1  2013     3

       oid
80000  NULL
80001  NULL
80002  NULL
80003  NULL
80004  NULL

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
       act_date             source  pos_ctry  \
90000  2013-03-11 00:00:00  1A      DE
90001  2013-03-11 00:00:00  1A      DE
90002  2013-03-12 00:00:00  1A      DE
90003  2013-03-14 00:00:00  1A      DE
90004  2013-03-14 00:00:00  1A      DE

                               pos_iata                         pos_oid    \
90000  dd047a06ad0adf73be44f6834ad03559  c6434682d6038b9ddb18ad040fdc99ae
90001  dd047a06ad0adf73be44f6834ad03559  c6434682d6038b9ddb18ad040fdc99ae
90002  dd047a06ad0adf73be44f6834ad03559  c6434682d6038b9ddb18ad040fdc99ae
90003  dd047a06ad0adf73be44f6834ad03559  c6434682d6038b9ddb18ad040fdc99ae
90004  dd047a06ad0adf73be44f6834ad03559  c6434682d6038b9ddb18ad040fdc99ae

                         rloc            cre_date             duration  \
90000  b0222f8bd3665fd14041d7aa08aadd62  2013-03-11 00:00:00      3266
90001  b0222f8bd3665fd14041d7aa08aadd62  2013-03-11 00:00:00      3266
90002  b0222f8bd3665fd14041d7aa08aadd62  2013-03-11 00:00:00      3266
90003  b0222f8bd3665fd14041d7aa08aadd62  2013-03-11 00:00:00      2886
90004  b0222f8bd3665fd14041d7aa08aadd62  2013-03-11 00:00:00      2886

       distance  dep_port    ...     route           carrier  bkg_class  \
90000       158  FRA         ...        BUDFRA            VR  V
90001       158  FRA         ...        BUDSTR            WF  T
90002       158  FRA         ...        BUDSTR            WF  T
90003         0  FRA         ...        FRABUD            VR  Q
90004         0  FRA         ...        BUDFRA            VR  V

       cab_class  brd_time             off_time            pax  year month  \
90000  Y          2013-04-25 14:55:00  2013-04-25 16:41:56   1  2013     3
90001  Y          2013-04-25 21:20:00  2013-04-25 23:01:28   1  2013     3
90002  Y          2013-04-25 21:20:00  2013-04-25 23:01:28  -1  2013     3
90003  Y          2013-04-23 16:35:00  2013-04-23 18:21:56  -1  2013     3
90004  Y          2013-04-25 14:55:00  2013-04-25 16:41:56  -1  2013     3

       oid
90000  NULL
90001  NULL
90002  NULL
90003  NULL
90004  NULL

[5 rows x 38 columns]

In [20]:
chunksdf = pd.read_csv(path_to_file, sep = '^' , nrows = 100000, chunksize = 10000)

result = []

for chunk in chunksdf:
    chunk = chunk[['arr_port','year','pax']]
    chunk.dropna()
    bookings_2013 = chunk[chunk['year'] == 2013]
    bookings_per_airport = bookings_2013.groupby('arr_port')['pax'].sum()
    print(chunk.shape, bookings_per_airport.shape)
    
    result.append(bookings_per_airport)

(10000, 3) (663,)
(10000, 3) (679,)
(10000, 3) (684,)
(10000, 3) (755,)
(10000, 3) (670,)
(10000, 3) (737,)
(10000, 3) (705,)
(10000, 3) (714,)
(10000, 3) (715,)
(10000, 3) (717,)

#### How do we get the all the results of all chunks at one place?

Options:

* df.append()

* pd.concat()

In [22]:
allchunks = pd.concat(result)
allchunks.index = allchunks.index.str.strip()
allchunks.loc['LHR']

arr_port
LHR     76
LHR    106
LHR     98
LHR    104
LHR    100
LHR    108
LHR    107
LHR     95
LHR     94
LHR    118
Name: pax, dtype: int64

In [23]:
allchunks.groupby('arr_port').sum().sort_values(ascending=False).head(10)

arr_port
LHR    1006
MCO     861
JFK     795
LAX     761
BKK     747
LAS     732
SFO     705
ORD     686
CDG     676
DXB     587
Name: pax, dtype: int64

#### 2) pd.concat()

## Complete Solution

In [24]:
%%time

chunksdf = pd.read_csv(path_to_file, sep = '^' , chunksize = 10000)

result = []

for chunk in chunksdf:
    chunk = chunk[['arr_port','year','pax']]
    chunk.dropna()
    bookings_2013 = chunk[chunk['year'] == 2013]
    bookings_per_airport = bookings_2013.groupby('arr_port')['pax'].sum()
    
    result.append(bookings_per_airport)
    
allchunks = pd.concat(result)
allchunks.index = allchunks.index.str.strip()

print(allchunks.groupby('arr_port').sum().sort_values(ascending=False).head(10))

CPU times: user 2min 33s, sys: 798 ms, total: 2min 34s
Wall time: 2min 36s