# Python programming. Session 2

In [2]:
c = open('/home/dsc/Data/shell/Finn.txt')

In [3]:
finn_list= list(c) ### Se puede hacer con .readlines

In [4]:
type(finn_list)

list

In [5]:
new_finn_list = []
for phrase in finn_list:
        k = phrase.rstrip()
        new_finn_list.append(k)

We can create a new file using open with writting permissons

In [6]:

new_file = open('/home/dsc/Data/shell/Finn_new.txt','w')
string_Finn = ''
### Instead of the loop we can use .writelines()
for line in new_finn_list:
    string_Finn = string_Finn + line
new_file.write(string_Finn)
new_file.close()

In [7]:
!wc /home/dsc/Data/shell/Finn_new.txt
!wc /home/dsc/Data/shell/Finn.txt

     0 104611 602826 /home/dsc/Data/shell/Finn_new.txt
 12363 114271 627563 /home/dsc/Data/shell/Finn.txt

In [8]:
###We can count lines using just Python
open_again = open('/home/dsc/Data/shell/Finn_new.txt')
open_again_list = open_again.readlines()
len(open_again_list)

1

## Data structures

In [9]:
len(1230)

TypeError: object of type 'int' has no len()

len() cannot be used in an integer, since it needs to be applied over an object that is iterable (not a scalar type, except strings). A data structure is a set of objects (usually scalar types)

### List

In [10]:
import numpy as np

my_first_list = [1,2,"fsfdsdfsf",np]
my_first_list

[1,
 2,
 'fsfdsdfsf',
 <module 'numpy' from '/home/dsc/anaconda3/lib/python3.6/site-packages/numpy/__init__.py'>]

In [11]:
my_first_list[-1]

In [12]:
my_first_list[3]

In [13]:
my_first_list[:2]

[1, 2]

In [14]:
my_first_list.pop()

Implementa una cola FIFO de letras. Escribe una función push (elemento, cola) que guarde un elemento en la cola. Escribe una función pop(elemento,cola) que extraiga el primer elemento en entrar y lo deuelva en mayúscula.

Demuéstrala transformando letras en mayúsculas

In [15]:
def push(element,queue):
    queue.append(element)
def pop(queue):
    elem = queue[0]
    queue.pop(0)
    final = elem.upper()
    return final

In [16]:
queue = []
push('a',queue)
push('b',queue)

In [17]:
queue

['a', 'b']

In [18]:
pop(queue)

'A'

In [19]:
queue

['b']

In [20]:
pop(queue)

'B'

In [21]:
queue

[]

In [22]:
def push(element,queue):
    queue.append(element)
def pop(queue):
    elem = queue[0]
    del queue[0]
    final = elem.upper()
    return final

In [23]:
queue = []
push('a',queue)
push('b',queue)
print(pop(queue))
print(pop(queue))

A
B

Now without methods associated to the objects

In [24]:
def push_pure(element,queue):
    queue = queue + [element]
    return queue

    
def pop_pure(queue):
    element = queue[0]
    queue = queue[1:]
    return element.upper(), queue

In [25]:
queue = []
queue = push_pure('a',queue)
queue = push_pure('b',queue)
print(pop_pure(queue))
print(pop_pure(queue))

('A', ['b'])
('A', ['b'])

In [26]:
queue = []

push_pure('a',queue)
queue

[]

In [27]:
queue

[]

In [29]:
my_list = list('abcde')
my_list

['a', 'b', 'c', 'd', 'e']

In [31]:
list(reversed(my_list))

['e', 'd', 'c', 'b', 'a']

In [33]:
sorted(my_list) ##another list with the sorted elements of the original list

['a', 'b', 'c', 'd', 'e']

In [34]:
lambda argument: argument * 2

It gives an argument that is a function. It is equivalent to:

In [35]:
def my_equivalent_function(argument):
    result = argument * 2
    return result

In [36]:
my_equivalent_function

In [37]:
my_list(1)

TypeError: 'list' object is not callable

In [38]:
map?

In [39]:
my_list

['a', 'b', 'c', 'd', 'e']

In [40]:
def to_upper(letter):
    return letter.upper()

In [42]:
list(map(to_upper,my_list))

['A', 'B', 'C', 'D', 'E']

In [44]:
list(map(lambda x: x.upper(),my_list))

['A', 'B', 'C', 'D', 'E']

## Tuples

The only difference with the lists is that they are immutable. The lists can make everything the tuples do

In [60]:
my_first_tuple = (2,"j",98,4)

In [61]:
my_first_tuple[2]

98

In [62]:
my_first_tuple[3:]

(4,)

The tuples is that can be used as keys in a dictionary, while lists cannot

In [63]:
my_first_tuple[::2]

(2, 98)

In [64]:
my_first_tuple = my_first_tuple + (1,[2,5])

In [65]:
my_first_tuple

(2, 'j', 98, 4, 1, [2, 5])

In [66]:
my_first_tuple[-1].append('dsadsd')

In [67]:
my_first_tuple

(2, 'j', 98, 4, 1, [2, 5, 'dsadsd'])

In [68]:
my_first_tuple * 2

(2, 'j', 98, 4, 1, [2, 5, 'dsadsd'], 2, 'j', 98, 4, 1, [2, 5, 'dsadsd'])

In [69]:
'3' *10

'3333333333'

In [70]:
my_third_tuple = ('a',2,'c')

In [71]:
a,b,c = my_third_tuple

In [72]:
print(a);
print(b);
print(c)

a
2
c

In [74]:
a,b,c,d = my_third_tuple

ValueError: not enough values to unpack (expected 4, got 3)

In [83]:
a,b = my_third_tuple

ValueError: too many values to unpack (expected 2)

In [86]:
for i, element in enumerate(my_first_tuple):
    print("el elemento %s está en la posición %d" %(element, i))

el elemento 2 está en la posición 0
el elemento j está en la posición 1
el elemento 98 está en la posición 2
el elemento 4 está en la posición 3
el elemento 1 está en la posición 4
el elemento [2, 5, 'dsadsd'] está en la posición 5

In [87]:
list(enumerate(my_first_tuple))

[(0, 2), (1, 'j'), (2, 98), (3, 4), (4, 1), (5, [2, 5, 'dsadsd'])]

In [89]:
'abbcccdddd'

'abbcccdddd'

In [91]:
res = ""
for i, letter in enumerate('abcd'):
    res = res + (i + 1)* letter

In [92]:
res

'abbcccdddd'

In [93]:
list_a = list('pqrst')
list_b = range(5)

In [94]:
list(zip(list_a,list_b))

[('p', 0), ('q', 1), ('r', 2), ('s', 3), ('t', 4)]

In [95]:
list_a = list('pqrst')
list_b = range(2)

In [96]:
list(zip(list_a,list_b))

[('p', 0), ('q', 1)]

In [97]:
## enumerate = zip(range(len(list)),list)

## Dictionary

In other languages it is called hash table.

In [100]:
my_first_dict = {'X' : 3, 'Y' : 6}

In [101]:
my_first_dict

{'X': 3, 'Y': 6}

In [103]:
dict([[1,2],[3,4],['a',10]])

{1: 2, 3: 4, 'a': 10}

In [105]:
hundir_la_flota = {(0,0):'agua',(0,1):'submarino',(3,5):'portaaviones'}

In [106]:
hundir_la_flota[(0,0)]

'agua'

In [107]:
hundir_la_flota = {[0,0]:'agua',[0,1]:'submarino',[3,5]:'portaaviones'}

TypeError: unhashable type: 'list'

In [108]:
a, b,c = hundir_la_flota.keys()

In [109]:
a

(0, 0)

In [110]:
capitales = {'España' : 'Madrid', 'Francia': 'Paris', 'Mongolia':'Ulan Bator'}

In [111]:
capitales['España']

'Madrid'

In [112]:
for k in capitales:
    print(k)

España
Francia
Mongolia

In [114]:
for v in capitales.values():
    print(v)

Madrid
Paris
Ulan Bator

In [115]:
for v in capitales.items():
    print(v)

('España', 'Madrid')
('Francia', 'Paris')
('Mongolia', 'Ulan Bator')

In [116]:
capitales['Rusia']

KeyError: 'Rusia'

In [117]:
capitales['Rusia'] = 'Moscu'

In [118]:
capitales

{'España': 'Madrid',
 'Francia': 'Paris',
 'Mongolia': 'Ulan Bator',
 'Rusia': 'Moscu'}

In [120]:
print(capitales.get('Croacia'))

None

In [121]:
type(print('Hola'))

Hola

NoneType

In [122]:
capitales.get('Croacia','desconocida')

'desconocida'

## Sets

Los sets son conjuntos de valores únicos

In [125]:
one_set = {2,3,4,5,6,6,7,7,7,7,9}
one_set

{2, 3, 4, 5, 6, 7, 9}

In [126]:
another_set = {7,8,9,7,12}
another_set

{7, 8, 9, 12}

In [127]:
one_set.union(another_set)

{2, 3, 4, 5, 6, 7, 8, 9, 12}

In [128]:
one_set.intersection(another_set)

{7, 9}

In [129]:
one_set.difference(another_set)

{2, 3, 4, 5, 6}

In [130]:
one_set & another_set

{7, 9}

In [131]:
one_set | another_set

{2, 3, 4, 5, 6, 7, 8, 9, 12}

In [133]:
True & False

False

### Exercises

4.6

In [4]:
def longest_word(input_list):
    longest_w = ""
    for word in input_list:
        if len(word) > len(longest_w):
            longest_w = word
    return len(longest_w), longest_w

In [5]:
l = ['sssss','fsdfsdfdsfdsf','ddd','fdfsdfjdsgnfsh']

In [6]:
longest_word(l)

(14, 'fdfsdfjdsgnfsh')

In [7]:
### The best way to test a code, we need to use limit cases

longest_word([])

(0, '')

In [9]:
### There could be a functional approach to this problem. We need to use the function map to transform a list of words
### into a list of lengths
### List of comprehension:
list_of_words = ['tocoto','man','woman']
print(list(map(len,list_of_words)))
[len(word) for word in list_of_words]

[6, 3, 5]

[6, 3, 5]

In [13]:
def longest_word_functional(list_of_words):
    lengths = [len(word) for word in list_of_words]
    if len(list_of_words) == 0:
        longest = None
    else:
        longest = max(lengths)
    
    return longest

In [15]:
longest_word_functional(list_of_words)

6

In [17]:
longest_word_functional([])

4.3

In [149]:
def return_string(input_list,char):
    output_list =[]
    for word in input_list:
        if word.find(char) != -1:
            output_list.append(word)
    return output_list

In [150]:
return_string(l,'d')

['fsdfsdfdsfdsf', 'ddd', 'fdfsdfjdsgnfsh']

In [22]:
def names_with(list_of_names,char):
    
    return [name for name in list_of_names if char in name]

In [23]:
names_with(list_of_words,'o')

['tocoto', 'woman']

4.1

In [25]:
s = [1,2,3,4,5,6,7,8]
list(map(lambda x: x**2,s))

[1, 4, 9, 16, 25, 36, 49, 64]

In [27]:
[x**2 for x in s]

[1, 4, 9, 16, 25, 36, 49, 64]

5.1

In [32]:
def categorize_words(input_list):
    letters = []
    word_list = dict()
    for word in input_list:
        if word[0] not in letters:
            list_of_words=[]
            for word_test in input_list:
                if word_test[0] == word[0]:
                    list_of_words.append(word_test)        
            word_list[word[0]]=list_of_words
    return word_list

In [33]:
categorize_words(l)

{'d': ['ddd'], 'f': ['fsdfsdfdsfdsf', 'fdfsdfjdsgnfsh'], 's': ['sssss']}

Advice: it is better to program by pieces and run the program to see if each piece gives the correct output

5.2

In [44]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [42]:
list_of_words = list_of_words +['tail','woman','special']

In [45]:
def sort_by_variety(list_of_words):
    return sorted(list_of_words, key =lambda w: len(set(w)))

sort_by_variety(list_of_words)

['tocoto', 'man', 'tail', 'tail', 'woman', 'woman', 'woman', 'special']