# Python programming language. Session 1

In Python, everything is an object. Each object has an associated type, internal data and some attributes.

In [1]:
a=[1,2,3]

In [5]:
print(type(a)) ##with type, we can get the type of an object
print(isinstance(a,int)) ##with this command we can check if an object is an instance of a particular type
print(isinstance(a,(int,float)))

<class 'list'>
False
False

Attributes can be:
* Other Python objects inside the object
* Methods (functions)

In [9]:
dir(a) #gives all the attributes of object a
hasattr(a,'split') #does an object has an attribute split?

False

Object references in Python have no type associated with them, the type information is stored to the object, which can be found using id()

In [10]:
a=5
type(a)

int

In [15]:
id(a)

140089437958584

In [16]:
a='foo'; type(a)

str

In [17]:
b=5/6

In [18]:
print('a is %s and b is %s' %(type(a),type(b)))

a is <class 'str'> and b is <class 'float'>

## Main types in python

### Scalar types

* int: integer
* long: arbitrary precision integer
* float: double-precision floating point number
* str: string type
* bool: True/False
* none: null value 

### Data structures

* Tuples ()
* Lists []
* Dictionaries: lists with id keys
* set: unordered collection of id keys

### Flow Control- if-else

In [19]:
x=-1

In [20]:
if x<0:
    print('It\s negative')

It\s negative

In [21]:
if x<0:
    print('It\'s negative')
elif x==0:
    print('Equal to zero')
elif 0<x<5:
    print('Between 0 and 5')
else:
    print('Equal or larger than 5')

It's negative

### Flow Control- for loop

In [22]:
sequence=[1,2,None,4,None,5]

In [23]:
total=0

In [24]:
for value in sequence:
    if value is None:
        continue
    total += value

In [25]:
total

12

In [26]:
sequence=[1,2,0,4,6,5,2,1]

In [27]:
total_unit_5=0

In [30]:
for value in sequence:
    if value == 5:
        break
    total_unit_5 += value

In [31]:
total

12

### while loop

In [32]:
x= 256

In [33]:
total=0

In [34]:
while x>0:
    if total >500:
        break
    total += x
    x=x//2

In [35]:
x

4

In [36]:
total

504

### Functions

In [37]:
def f():
    a=5
    b=6
    c=7
    return a, b, c

In [38]:
d, e, g=f()

In [39]:
d

5

In [40]:
return_value=f()

In [41]:
return_value

(5, 6, 7)

### Functions - import

A module is simply a .py file containing function and variable definitions. To get access to the variables from the current python session the import command is used.

In [45]:
import some_module

In [46]:
result=some_module.f(5)

In [47]:
pi=some_module.PI

In [48]:
print('result=',result,' pi=',pi)

result= 7  pi= 3.14159

In [49]:
from some_module import f,g as just_another_funct, PI

In [50]:
result=just_another_funct(5,PI)

In [52]:
print(result)

8.14159

In [53]:
import some_module as sm

In [54]:
result=sm.f(5)

In [55]:
result

7

## Exercises 1

1. Function that takes as input three variables, and returns the largest of the three (without using max())

In [1]:
def largest(var1,var2,var3):
    if var1 > var2:
        if var1 > var3:
            k = var1
        elif var1:
            k = var3
    else:
        if var2 > var3:
            k = var2
        else:
            k = var3
    
    return k

In [2]:
largest(1,2,3)

3

In [3]:
largest(3,4,3)

4

In [4]:
largest(200,1111,1111)

1111

2.Write a function "centenario" that will take Name, and year of birth as inputs, check if year of birth is int and cast it to int if not, and print name together with the tekt explaininf when the person is to have 100 years.

In [7]:
def centenario(name,birth_year):
    if not isinstance(birth_year,int):
        birth_year = int(birth_year)
    print(name, " will reach the 100 years in ",birth_year+100)

In [8]:
centenario("Paulo",1992)

Paulo  will reach the 100 years in  2092

## Scalar types

Lets examine each of the scalar types mentioned above

### Numeric types (int, long ,float)

The size of an object of integer type is determined by your platform (32-bit or 64-bit), but by default Python will convert any large integer into a long type, which can store any integer of arbitrary size

In [10]:
k = 12583

In [11]:
type(k)

int

In [17]:
s = k**280

In [18]:
type(s)

int

It should have converted into the long type... but seems that this version of Python is able to store much higher integers as int

Complex numbers are written using j as the imaginary part

In [20]:
s = 1 + 2j

In [21]:
type(s)

complex

In [22]:
z = 1+1j

In [23]:
z

(1+1j)

In [24]:
s

(1+2j)

In [25]:
s.real

1.0

In [27]:
dir(s)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [28]:
s.imag

2.0

### Strings

Strings can be written using quotes '' or single quotes ""

In [29]:
a = 'one way'

In [30]:
a

'one way'

In [31]:
b = "another way"

In [32]:
b

'another way'

For multiline strings with line breaks, you can use triple quotes

In [33]:
c = """
This is a longer string that can be written
in two lines
"""

In [34]:
c

'\nThis is a longer string that can be written\nin two lines\n'

Just mention that although in many ways the strings behave like vectors or lists, they are not really the same, because strings are immutable. Find below and example:

In [35]:
b[3]

't'

In [36]:
b[3] = 's'

TypeError: 'str' object does not support item assignment

Although there are methods associated to strings that allow to replace characters, they do not modify the original object: they create a new one

In [47]:
a = 'this is a string that is going to be modified'

In [48]:
id(a)

140600588085360

In [51]:
b = a.replace('that is going to be', 'that has been already')

In [52]:
id(b)

140600588085744

In [40]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
a.find('o')

26

In [42]:
a.find('d')

39

In [43]:
a.find('blabla')

-1

In [44]:
a.index('blabla')

ValueError: substring not found

The difference between .find and .index, is that the first one returns a -1 instead of an error

In [53]:
b.capitalize()

'This is a string that has been already modified'

In [54]:
b.upper()

'THIS IS A STRING THAT HAS BEEN ALREADY MODIFIED'

In [55]:
b.title()

'This Is A String That Has Been Already Modified'

In [56]:
b.count('o')

1

In [58]:
'2.3'.isdigit()

False

In [59]:
'2'.isdigit()

True

In [61]:
b.split(" ")

['this', 'is', 'a', 'string', 'that', 'has', 'been', 'already', 'modified']

In [62]:
c = b.split(" ")

In [63]:
type(c)

list

In [64]:
z = "first line \n continues to second\n which might not be seen\n"

In [65]:
z.splitlines()

['first line ', ' continues to second', ' which might not be seen']

In [66]:
"^".join(a)

't^h^i^s^ ^i^s^ ^a^ ^s^t^r^i^n^g^ ^t^h^a^t^ ^i^s^ ^g^o^i^n^g^ ^t^o^ ^b^e^ ^m^o^d^i^f^i^e^d'

Adding two strings together concatenates them and produces a new string

In [67]:
a + b

'this is a string that is going to be modifiedthis is a string that has been already modified'

Strings with a % followed by one or more format characters is a target for inserting a value int a string

In [68]:
template = '%.2f %s are worth $%d'

In [69]:
template %(7.35555,'Croatia Kunas',1)

'7.36 Croatia Kunas are worth $1'

In [70]:
s = "Python is WOW"

In [71]:
list(s)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'W', 'O', 'W']

### Exercises 2

1. Write a function to calculate the number of words, number of lines, and length of a string the same way  the wc command does it in the command line

In [78]:
def word_count(input_string):
    num_words = len(list(input_string.replace(" ","")))
    num_lines = len(input_string.splitlines())
    length = len(input_string)
    return num_words, num_lines, length

In [79]:
a = "This a first string to test the function"

In [80]:
word_count(a)

(33, 1, 40)

In [81]:
b = """
This is a second
string to check
the function"""

In [82]:
word_count(b)

(40, 4, 46)

2.Write a program to remove the nth index character from a string. If the input string is empty print warning

In [84]:
def rm_char(string,n):
    if string == "":
        print("Warning: The string is empty")
    first = string[0:n]
    second = string[n+1:len(string)]
    return first + second

In [86]:
rm_char("This is a test string", 5)

'This s a test string'

In [87]:
rm_char("",3)

Warning: The string is empty

''

## Data structures

We are going to review also, the data structures previously mentioned

### Lists

Lists are sequences of objects one-dimensional and mutable. For creating one, we need to use square brackets [ ], using list() or iterating over an empty list [""]

In [88]:
first_list = [2,3, None,7]

In [90]:
first_list

[2, 3, None, 7]

In [91]:
type(first_list)

list

In [92]:
joint_list = first_list + first_list

In [93]:
joint_list

[2, 3, None, 7, 2, 3, None, 7]

In [94]:
c_list = list([first_list,first_list])

In [95]:
c_list

[[2, 3, None, 7], [2, 3, None, 7]]

In [97]:
c_list[0][3]

7

In [107]:
a = ['I','live','in']

In [108]:
a.append('Madrid')

In [109]:
a

['I', 'live', 'in', 'Madrid']

In [110]:
a = a+ ['since','1995']

In [111]:
a

['I', 'live', 'in', 'Madrid', 'since', '1995']

In [112]:
a.pop(2); a.pop(2);

In [113]:
a

['I', 'live', 'since', '1995']

In [114]:
a.insert(2,'here')

In [115]:
a

['I', 'live', 'here', 'since', '1995']

In [116]:
a.remove('here')

In [117]:
a

['I', 'live', 'since', '1995']

In [118]:
'test' in a

False

In [119]:
a.extend(['in','Madrid'])

In [120]:
a

['I', 'live', 'since', '1995', 'in', 'Madrid']

insert is computationally more expensive than append since the internal elements need to be shifted to give room to the new element

The "+" command is computationally more expensive than extend() since a new list needs to be created and all the objects need to be added

In [121]:
a = [7,2,5,1,3]

In [122]:
a.sort(); a

[1, 2, 3, 5, 7]

In [123]:
b = ["Hello", "I", "am", "not", "sorted", "Paulo"]

In [124]:
b.sort();b

['Hello', 'I', 'Paulo', 'am', 'not', 'sorted']

In [125]:
b.sort(key=str);b

['Hello', 'I', 'Paulo', 'am', 'not', 'sorted']

In [126]:
b.sort(key=str.lower);b

['am', 'Hello', 'I', 'not', 'Paulo', 'sorted']

In [127]:
b.sort(key=len,reverse=True);b

['sorted', 'Hello', 'Paulo', 'not', 'am', 'I']

In [128]:
b.sort(key=lambda x:x.count('l'));b

['sorted', 'not', 'am', 'I', 'Paulo', 'Hello']

What is lambda?????

lambda functions, or anonymos functions, are short statements, which output is the return value. The name lambda is a keyword, that has no other meaning than "we are declaring an anonymous function"

They are spetially important in data analysis because there are man cases where data transformation will take functions as an argument

In [129]:
def short_function(x):
    return x**2

In [130]:
equiv_anon = lambda x:x**2

In [134]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]

In [135]:
ints = [2,7,8,9,10]

In [137]:
apply_to_list(ints,lambda x:x*2)

[4, 14, 16, 18, 20]

Do not forget that functions are also objects

In [138]:
def add_one(value):
    return value + 1

In [146]:
def double_value(value):
    return value * 2

In [147]:
def add_three(value):
    return value + 3

In [148]:
math_ops = [add_one,double_value,add_three]

In [149]:
def math_values(values,ops):
    result = []
    for value in values:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [150]:
k = [1,2,3]

In [151]:
math_values(k,math_ops)

[7, 9, 11]

### Tuples

They are simmilar to the lists, but they are fixed-length and immutable. They can be created with a comma-separated set of values, with the command tuple(), and iterating over an empty tuple (). They also can be nested.

In [155]:
tup = 4, 5 ,6

In [156]:
tup

(4, 5, 6)

In [157]:
tup = tuple('string')

In [158]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [159]:
tuple([4,0,2])

(4, 0, 2)

In [160]:
nested_tup = (4,5,6),(7,8),('A',8,'abcd')

In [161]:
nested_tup

((4, 5, 6), (7, 8), ('A', 8, 'abcd'))

In [162]:
tup[0]

's'

In [164]:
tup[:3]

('s', 't', 'r')

In [165]:
tup[2:4]

('r', 'i')

In [166]:
tup[4:]

('n', 'g')

In [168]:
tup[1:5:2]

('t', 'i')

We cannot change the elements of a tuple, but those element could be mutable!!

In [169]:
tup = ('Foo',[2,3],True)

In [170]:
tup

('Foo', [2, 3], True)

In [171]:
tup[1].append(23)

In [172]:
tup

('Foo', [2, 3, 23], True)

In [173]:
tup[1].insert(1,23)

In [174]:
tup

('Foo', [2, 23, 3, 23], True)

Tuples can be concatenated with "+", and if we multiply by an integer, it concatenates together several times the same string

For unpacking tuples:

In [175]:
tup = (4,5,6)

In [176]:
a,b,c = tup

In [177]:
b

5

In [178]:
tup = 4,5,(6,7)

In [179]:
a,b,(c,d) = tup

In [180]:
d

7

In [181]:
a,b

(4, 5)

In [182]:
a,b=b,a

In [183]:
a,b

(5, 4)

In [184]:
a = (1,2,2,2,3,4,2)

In [185]:
a.count(2)

4

In [186]:
a.index(2)

1

In [187]:
565 in a

False

In [189]:
a.count(5)

0

In [190]:
a.index(5)

ValueError: tuple.index(x): x not in tuple

### Exercises 3

1. For a sequence [1,2,3,4,5,6,7,8] get the squared values using the lambda function

In [192]:
seq = [1,2,3,4,5,6,7,8]

In [194]:
def apply_fun(a,f):
    return [f(x) for x in a]

In [195]:
apply_fun(seq,lambda x:x*2)

[2, 4, 6, 8, 10, 12, 14, 16]

Prepare a list of 10 names. Make a code that will put all vowels to capitals and every other character to lower letters

In [244]:
names = ['Paulo','Alba','Vctor','Victoria','Sergio','Jorge','Carmen','Marta','Laura','Paula']

In [242]:
k = 0
while k < len(names):
    new_name = ""
    for letter in names[k]:
        if letter in ['a','e','i','o','u','A','E','I','O','U']:
            new_letter = letter.upper()
        else:
            new_letter = letter.lower()
        new_name = new_name + new_letter
    names[k] = new_name
    k = k +1
    
names

['pAUlO',
 'AlbA',
 'vctOr',
 'vIctOrIA',
 'sErgIO',
 'jOrgE',
 'cArmEn',
 'mArtA',
 'lAUrA',
 'pAUlA']

Prepare again a list of 10 names. Make a function with two input variables: list, and character; that returns a list of names containing one or more characters inside the name

In [243]:
def wheredoesitappear(input_list,char):
    winner_names = []
    for name in input_list:
        if name.find(char) != -1:
            winner_names.append(name)
    return winner_names

In [245]:
wheredoesitappear(names,'au')

['Paulo', 'Laura', 'Paula']

Reverse word order from the input string

In [255]:
def reverse(string):
    l = len(string)
    k = 0
    reverse = ""
    while k < l:
        reverse = reverse + string[-1-k]
        k = k +1
    return reverse

In [256]:
reverse("Paulo")

'oluaP'

Create a function that takes a list of words and returns the length of the longest one

In [259]:
def long_word(list_words):
    longest_word = ""
    for word in list_words:
        if len(word)>len(longest_word):
            longest_word = word
    return longest_word

In [260]:
long_word(names)

'Victoria'

## Dictionaries

Before analysing this type of Data structure, we will speak about zipping indexes

It's common, when we are iterating over a sequence to keep track of the index of the current item. enumerate(item) returns a sequence of (i, value) tuples

In [263]:
for i, val in enumerate(range(1,10)):
    print(i,val)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [265]:
for i,val in enumerate(reversed(range(1,10))):
    print(i,val)

0 9
1 8
2 7
3 6
4 5
5 4
6 3
7 2
8 1

In [266]:
seq1 = 1,2,3,4

In [267]:
seq2 = [5,6,7,8]

In [268]:
seq3 = [True, False, True]

In [269]:
table=zip(seq1,seq2,seq3)

In [270]:
type(table)

zip

In [271]:
list(table)

[(1, 5, True), (2, 6, False), (3, 7, True)]

zip() is an iterator that pairs up the elements of a number of lists, tuples or other sequences, to create a list of tuples

A dictionary is a flexibly-sized collection of key-value pairs, where key and value are Python objects. They can be created using curly braces {} and using colons : to separate keys and values; by using dict() method over (key,value) pairs; or iterating over an empty dictionary {}

In [274]:
dict(key1=1, key2=2)

{'key1': 1, 'key2': 2}

In [276]:
dict((('key1',2),('key2',2)))

{'key1': 2, 'key2': 2}

In [278]:
dict([('key1',2),('key2',2)])

{'key1': 2, 'key2': 2}

In [279]:
values = (1,2,3,4)

In [280]:
keys=('a','b','c')

In [281]:
dict(zip(keys,values))

{'a': 1, 'b': 2, 'c': 3}

In [282]:
{'a':2,'keyB':3}

{'a': 2, 'keyB': 3}

In [283]:
d1 = {'a': 'some value', 'b':[1,2,3,4]}

In [284]:
d1['Spt']=10

In [285]:
d1[4]='value'

In [286]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'Spt': 10, 4: 'value'}

In [287]:
a = d1.pop('Spt')

In [288]:
a

10

In [289]:
dir(d1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [290]:
d1.get('Spu','not found')

'not found'

In [293]:
d1.keys(), d1.values()

(dict_keys(['a', 'b', 4]), dict_values(['some value', [1, 2, 3, 4], 'value']))

In [295]:
d2 = {'a':'to be updated','b':5}

In [296]:
d1.update(d2)

In [297]:
d1

{'a': 'to be updated', 'b': 5, 4: 'value'}

## Sets

A set is an unordered collection of unique elements (like dictionaries, but only with keys). They can be created using curly braces {} without colons, using set()